[2011-08-17 18:40] mhluongo opened #1 "Relationship models"
Using Django's "through=" standard, eg

[code]

as described in the docs (https://docs.djangoproject.com/en/dev/topics/db/models/#many-to-many-relationships).

[2011-08-17 20:21] mhluongo opened #2 "Fix string-based Relationships"
Eg

[code]

[2011-08-23 21:57] mhluongo opened #3 "QuerySet field lookups - "contains""
Implement the 'contains' field lookup for `QuerySet`s.

[2011-08-23 21:59] mhluongo opened #4 "QuerySet field lookups - "search""
Implement the 'search' field lookup for `QuerySet`s. Accept a Lucene full-text query string or a [Lucene Q object](http://github.com/scholrly/lucene-querybuilder).

[2011-08-23 22:03] mhluongo opened #5 "Accept an 'auto_indexed=True' option for properties"
And don't bother to insert into/update indexes. Further, pull from the proper auto-index instead of the node type-specific index.

[2011-08-25 23:45] mhluongo opened #6 "Allow inherited fields to be overridden"
Django has a good reason to disallow this in its relational ORM. There is no good reason, however, when the underlying database is schemaless.

In particular, it would be nice to override `Relationship`s to point to subtypes. Consider

[code]

The benefit? All targets of `AgedPersonPointer` model instances will have an age property. Of course, the reverse relationship (`AgedPerson.objects.get(...)

[2011-08-25 23:46] mhluongo opened #7 "Model to model casting"
This is simple to implement. All that needs to happen is to construct a new model based off the old model's Neo4j node.

[2011-08-31 15:42] mhluongo opened #8 "Don't require a rel_type when defining relationships"
Default to something sane, given the name of the relationship and the implied edge directions.

[2011-08-31 15:43] mhluongo opened #9 "Refactor the test suite"

[2011-08-31 16:05] mhluongo opened #10 "Support one-to-one relationships"
Apparently, they aren't right now ;)

[2011-09-01 21:40] mhluongo opened #11 "Reverse non-intuitive edge direction"
[code]

...actually results in an in-graph edge that points from `Other` object nodes to `T` object nodes- definitely counter-intuitive.

[2011-09-02 00:38] #10 closed, assigned to nobody

[2011-09-02 06:27] #7 closed, assigned to nobody

[2011-09-03 22:46] mhluongo opened #12 "Relationship "unique" option"
In the same vein as the `preserve_ordering` option, add a unique option for relationships.

[code]

If `model.connections.add(other_model)` would add a model that's already in the relationship, simply ignore it or, in the case of `preserve_ordering = True`, move it to the end of the relationship.

[2011-09-03 23:06] mhluongo opened #13 "Allow relationship/field decoration"
It would be much easier to use neo4django (and the Django ORM, really) if there were an easier way to add metadata to fields. In my own projects, I use a model superclass with a field options dictionary. Since Python decorators clearly can't accomplish this, maybe something like this would fit

[code]

This is an example from Scholrly's domain, where we often have to specify "this field is authori

[2011-09-04 01:02] #13 closed, assigned to nobody

[2011-09-05 19:45] mhluongo opened #14 "Handle setting empty values (currently throws error)"
In the database, this should be equivalent to deleting a property.

[2011-09-05 21:55] mhluongo opened #15 "Tie object updates to transactions"
using neo4jrestclient's transaction support.

[2011-09-05 22:04] mhluongo opened #16 "Tie queryset actions to transactions"
... using the new rest client transactional support.

[2011-09-20 02:23] mhluongo opened #17 "preserve_ordering should work for both sides of a relationship"

[2011-09-20 14:47] mhluongo opened #18 "model.rel.all() returns incorrect result after a delete"
`model.rel.remove(other_model)` doesn't appear to affect `all()`'s result unless `save()` has been called on the model instance.

[2011-09-20 16:46] #18 closed, assigned to nobody

[2011-09-22 20:49] #2 closed, assigned to nobody

[2011-09-24 14:45] mhluongo opened #19 "select_related and model caching"
This would be a great familiar way to enable simple traversals using the ORM.

[2011-09-24 14:49] mhluongo opened #20 "relationship-spanning lookups"
Like in the Django docs -> https://docs.djangoproject.com/en/dev/topics/db/queries/#lookups-that-span-relationships

This is another way to do simple traversals in a familiar way for Django devs.

[2011-09-24 14:52] mhluongo opened #21 "defer and only"
This can be implemented using the REST Gremlin plugin and data tables.

Implementing this is a lower priority than an overall performance review.

[2011-09-28 22:40] mhluongo commented on #17
To fully implement this, each edge will need two order labels- one for each side.

[2011-09-29 17:36] mhluongo opened #22 "Before performance improvements, we need a small benchmark suite."
A reference machine might not matter as much - folks can just convince themselves by running the suite on a single machine against different commits.

[2011-09-29 20:18] #11 closed, assigned to nobody

[2011-10-20 20:29] mhluongo opened #23 "Models shouldn't have Django autofield ids and inheritance pointers."
They don't have any purpose in neo4django models, but dirty up Model._meta.fields.

[2011-11-10 20:28] mhluongo opened #25 "AutoProperty doesn't seem to work with abstract models"

[2011-11-13 01:58] mhluongo opened #26 "objects.get() doesn't take type into account"
Consider

[code]

[2011-11-13 02:03] mhluongo opened #27 "Bare objects.all() queries throw an AttributeError"
[code]

[2011-11-13 02:07] mhluongo opened #28 "Can't query by node id"
[code]

[2011-11-13 03:48] mhluongo commented on #27
I think this comes up so frequently using an interpreter interactively because it's a problem with `__str__`...

[2011-11-13 03:55] mhluongo commented on #26
Ah, looks like my database was messed up. Closing.

[2011-11-13 03:55] #26 closed, assigned to nobody

[2011-11-19 21:13] mhluongo opened #29 "get_or_create() should be fully transactional"
...like type nodes. This is a bit tougher, though, bc it requires that we know how the build nodes/rels and props through both the generic REST API and a Gremlin script, similar to #20.

[2011-11-19 21:16] mhluongo commented on #28
`id=`, `id__exact=` and `id__in=` all work. Leaving this open as a reminder to clean up the code, and consider generalizing id access to the rest of the kw-args (though I can't see much use).

[2011-11-24 03:57] mhluongo opened #30 "Allow the "db name" to be specified for properties"
...so nodes/rels can have different property names than used by the ORM. Helps support #5.

[2011-11-24 04:00] mhluongo opened #31 "objects.in_bulk()"
This should be pretty easy, given the new queryset id__in field lookup.

[2011-11-24 21:27] necaris commented on #27
Comes up for me with objects.filter() and objects.get() as well -- much more general!

[2011-11-25 19:47] mhluongo commented on #27
@necaris, I can confirm the issue with filter(), but not get(). Should have a fix soon.

[2011-11-25 20:41] #27 closed, assigned to nobody

[2011-11-25 20:54] mhluongo commented on #27
For posterity - the underlying issue was slicing `NodeQuerySet`s- `QuerySet.__repr__()` returns a slice, which required calling `set_limits()` on the internal `Query`.

[2011-11-25 21:44] #31 closed, assigned to nobody

[2011-11-26 00:17] mhluongo commented on #30
This is similar to `db_column` in Django ORM, though it should probably be named differently.

[2011-11-26 00:18] mhluongo opened #32 "Allow "default" to be specified for properties"

[2011-11-26 02:04] #25 closed, assigned to nobody

[2011-11-26 02:05] mhluongo opened #33 "Document indexing/autoproperty behavior"
When are indexes shared by types? For what scope are auto-properties/unique properties unique?

[2011-11-26 05:05] mhluongo opened #34 "AutoProperty should store the most recent autoprop value in an index"
...instead of storing the most recent node. That way, if the node is deleted, the id won't be unintentionally reused.

[2011-11-26 20:55] mhluongo opened #35 "Support Django Q objects for complex queries"

[2011-11-26 21:02] mhluongo opened #36 "Index array property members individually"
...so they can be queried against. Extend the field-lookup language, so instead of querying against the field - `objects.filter(emails=['email1@...','email2@...']) - which has limited use -  we can also query a member`objects.get(emails__member='email1@...')`.

[2011-11-26 21:14] mhluongo opened #37 "Index array property members individually"
...so they can be queried against. Extend the field-lookup language, so instead of querying against the field - `objects.filter(emails=['email1@...','email2@...'])` - which has limited use -  we can also query a member `objects.get(emails__member='email1@...')`.

[2011-11-26 22:59] mhluongo commented on #34
Since the indexing framework doesn't really support this use case, move this to the type node. This has repercussions for `AutoProperty` scope, as mentioned in #33.

[2011-11-26 23:17] mhluongo opened #38 "AutoProperty assignments need to be guaranteed transactional"
...as there's a huge race condition on the type node when creating new instances that share a type node and have autoprops.

[2011-11-26 23:18] mhluongo commented on #37
Closing #34 would support this issue's implementation.

[2011-11-26 23:20] #34 closed, assigned to nobody

[2011-11-26 23:21] mhluongo commented on #36
Replicates #37, whoops.

[2011-11-26 23:21] #36 closed, assigned to nobody

[2011-11-27 00:26] #37 closed, assigned to nobody

[2011-11-27 04:36] #38 closed, assigned to nobody

[2011-11-27 04:38] mhluongo commented on #5
Of course, this also poses huge problems for non-string properties as there won't be a way to manipulate them over REST.

[2011-11-28 02:19] mhluongo opened #39 "Abstract parent with Relationship crashes Python on OSX 10.7.2"
To replicate,

[code]

It looks like, for some reason, the `some_relation` field cannot be `copy.deepcopy`'d by django.db.models.base. Not sure if this is a general problem.

Originally reported by @bhcarpenter

[2011-11-28 02:22] mhluongo commented on #39
Ah, looks like this stems from the difference we draw between user-facing `Property` instances and internal `BoundProperty` instances. This one might be tough.

[2011-11-28 02:33] mhluongo commented on #39
Ah, the above code doesn't replicate the issue - it's actually `Relationship`s that are causing the problem. Editing issue title/body to reflect.

[2011-11-28 17:51] mhluongo opened #40 "Add in-graph indexing or branching to the type tree"
...to avoid the supernode problem. The proposed fixes to the problem for Neo4j 1.6 won't really improve our use case, as most discussed solutions have involved partitioning a node's relationship space by direction and type, and the type hierarchy only uses outgoing '<<TYPE>>' edges.

[2011-11-29 02:25] mhluongo commented on #39
Fix confirmed by on OSX10.7 @bhcarpenter.

[2011-11-29 02:25] #39 closed, assigned to nobody

[2011-11-30 11:38] ni-ka commented on #1
Is any work beeing done on this issue? Could you describe how much needs to be done, where potential problems are? Would also appreciate some starting points to see whether I can contribute.

[2011-11-30 16:19] mhluongo commented on #1
Definitely! This one has been given less attention, because my current data model can do without relationship properties not already managed by neo4django (like ordering, etc).

 Some of the machinery necessary already exists in db/models/relationships.py- for example, the `RelationshipModel` and `BoundRelationshipModel` classes written by @thobe are a start. Basically, to get this done, we need t

[2011-11-30 16:47] mhluongo commented on #1
@ni-ka let me know if you decide to do it- I'd be happy to support the effort however I can. There are quite a few things I didn't touch on- eg, querying, deciding index scope for fields - but if you made the initial effort, I could take care of both querying, indexed fields, and some other details.

[2011-11-30 17:00] mhluongo commented on #1
I think this could be accomplished (without querying or indexing) in ~300-400 lines- maybe less if you really leverage what Django already has (which would make for better code anyway).

[2011-12-01 17:56] ni-ka commented on #1
Hi, thanks a lot for the quick and detailed reaction! In fact I'm only starting with Django, I evaluated rails / grails / django for a web project and then took the decision to go for the django path. Neo4j would be a great addition but is not absolutely necessary, but I've been interested in graph databases since a long time so I'm quite motivated to use them. I'm good in digging in new problems

[2011-12-01 18:08] mhluongo commented on #1
Haha, no worries! If you'd like to take a crack at it anyway (or any of the other issues), I'd be happy to do code review/cleanup. I wasn't nearly so Djangotized before I started working on this project :)

If nothing else, I'll take your comment as a feature vote.

[2011-12-05 17:04] mhluongo commented on #28
Don't see much use in generalizing this further - what other id lookups need to be done? If anyone needs this, let me know, but until then I'm closing it out.

[2011-12-05 17:04] #28 closed, assigned to nobody

[2011-12-05 21:44] #3 closed, assigned to nobody

[2011-12-06 18:27] mhluongo commented on #22
This can be fleshed out as we go, but the 5 benchmarks we have now are a fine start.

[2011-12-06 18:27] #22 closed, assigned to nobody

[2011-12-10 03:16] mhluongo opened #41 "Multiple relationships on a model are allowed with the same rel_type..."
...which will clearly lead to buggy, or at least really confusing, behavior. Some sort of validation error should be thrown.

[2011-12-10 04:24] mhluongo opened #42 "Relationship querying doesn't respect direction"
Eg,

[code]

[2011-12-11 01:18] #19 closed, assigned to nobody

[2011-12-11 01:21] mhluongo commented on #42
Closes in 5be5007

[2011-12-11 01:21] #42 closed, assigned to nobody

[2011-12-11 01:24] mhluongo commented on #20
Some of this work is going to look very familiar to select_related, and can definitely reuse code. Some of this work might require a re-write of query execution with Gremlin or Cypher... =/

On the plus side, said re-write would enable whittling the number of requests query execution takes even further.

[2011-12-15 21:44] mhluongo opened #43 "Queryset can choke if there are too many indexed params"
....because the Lucene querystring gets too long for a URL.

[2011-12-15 21:46] mhluongo commented on #43
If the index-based portion of Query.execute() were replaced with some Gremlin, we could just post the string + there might be some marginal performance benefits.

[2011-12-17 17:40] mhluongo opened #44 "Some indexed objects are not returned from a queryset"
...found while exploring #43.

Eg, while writing the test_large_query test, found this:

[code]

... which doesn't pass! 99 mice of 100 are returned. The one that isn't has age=0. Not sure if this is a general problem or not.

[2011-12-17 17:41] mhluongo commented on #44
Decreased to 2 mice, and still have the same issue. Looks like it might be a general problem with retrieving indexed integer properties with a value of 0.

[2011-12-18 15:22] #43 closed, assigned to nobody

[2011-12-18 15:22] #44 closed, assigned to nobody

[2012-01-24 19:01] mhluongo opened #46 "Model pickling"
This is necessary to successfully use the cache framework.

[2012-02-07 17:43] mhluongo opened #48 "Use auto-indexes when possible"

[2012-02-09 14:36] mhluongo opened #49 "Further monkey patch the rest client"
...so Gremlin calls don't then reload the nodes they've retrieved.

[2012-02-13 09:21] mgom opened #50 "transaction"
Can we do transaction with neo4django ?

[2012-02-13 16:29] mhluongo commented on #50
Not explicitly, but object updates are tied to transactions, and  get_or_create and other queryset actions will be soon. What's the use case?

[2012-02-13 16:30] mhluongo commented on #49
This is no longer necessary- instead, upgrade to the newest version of the rest client.

[2012-02-13 16:31] mhluongo commented on #15
Instead, this had been done in the recent "gremlinizing" code. All property updates, including indexing and autoproperties, are now transactional. Object creation and relationship updates are still in the works.

[2012-02-13 16:32] #15 closed, assigned to nobody

[2012-02-13 16:33] mhluongo commented on #29
Now that much of neo4django is Gremlin based, this should be much easier.

[2012-02-13 16:37] mhluongo opened #51 "Indexed auto-properties no longer work"
It looks like they just aren't being inserted into the index :(

[2012-02-13 17:18] mgom commented on #50
thx
my case : i want to create or/and update several nodes in the same
transaction

On Mon, Feb 13, 2012 at 5:29 PM, Matt Luongo <
reply@reply.github.com

[2012-02-13 18:13] mhluongo commented on #50
Interesting.. let me think about this a bit, it sounds like a compelling use case. In vanilla Django, how would you accomplish this- explicit transaction management? Or is there another, more Django-friendly way? Also, what sort of conditions do you have- index-based or structural?

[2012-02-13 18:46] #51 closed, assigned to nobody

[2012-02-15 15:04] mhluongo opened #52 "RelationshipQuerySet slicing"
aka implement `__getitem__`

[2012-02-15 15:07] mhluongo opened #53 "QuerySet Aggregation support"

[2012-02-15 16:25] mhluongo commented on #50
If this is an important one-off, you can call you own Groovy/Gremlin code, auto-wrapped in a transaction, using `neo4django.db.connection.gremlin_tx(gremlin_script)`. As long as the return value if a node iterable, you can then construct  neo4django models from it using `YourModel._neo4j_instance(rest_node)`. I know this might be a bit more work than you'd like, but it should work until more forma

[2012-02-15 16:26] mhluongo commented on #50
Note that this method doesn't use the REST client's 'transactional' (aka batch) support, so it's much more flexible. Any exceptions thrown in your Groovy/Gremlin will roll the transaction back.

[2012-02-15 16:37] mgom commented on #50
thx Matt
i will see that

On Wed, Feb 15, 2012 at 5:26 PM, Matt Luongo <
reply@reply.github.com

[2012-02-21 21:27] mhluongo opened #54 "Subtle indexing + inheritance bug"
In newly created graphs, indexed values on abstract parent classes are stored per concrete child class. So, for example

[code]

when you create an object of each of the above, they will both be assigned a `some_id` of 1.

[2012-02-21 21:54] mhluongo commented on #54
Disregard that, this is with all graphs, new and old. If you rely heavily on indexing in model parents, this will affect you- in particular, unexpected behavior for `unique` and `AutoProperty`, and a performance hit for regular indexing.

[2012-02-21 22:30] #54 closed, assigned to nobody

[2012-02-22 05:15] mhluongo commented on #50
Closing this, let me know if you have any other questions- I'll update the status via related issues.

[2012-02-22 05:15] #50 closed, assigned to nobody

[2012-03-01 19:33] mhluongo opened #56 "id__in queries don't work for single ids"
...because the rest client returns a node instead of a node iterable.

[2012-03-05 19:15] mhluongo opened #57 "Combine node creation and property updates"
...into one Gremlin call. If there's an easy way to internally get the Gremlin necessary for creation and prop updates, it'll be easier to implement transactional saving.

[2012-03-05 19:16] mhluongo opened #58 "Move to the newest rest client (1.6)"
... and test thoroughly against Neo4j 1.6. Once this is done we'll be ready for a new release (0.1.6) to PyPi.

[2012-03-30 20:55] mhluongo opened #59 "objects.none()"
Shouldn't take long at all, but this would be a nice convenience.

[2012-04-02 17:34] mhluongo opened #60 "optimized objects.exists() and objects.count()"
`count()` should be easier to optimize, initially, but both will require a similar fix- some layer of abstraction that allows a queryset's results to be aggregated over, server-side, in Groovy.

[2012-04-06 00:22] baconz opened #61 "id__in queries do not work when the list of ids is greater than 250"
g.v() does not like lists of ids greater than 250:

startup failed: General error during class generation: 2000  java.lang.ArrayIndexOutOfBoundsException: 2000

Interestingly, lists between 251 and 254 will yield a 500 error, but lists greater than 254, just yield an empty queryset.

[2012-04-09 15:46] baconz opened #62 "uniqueness error does not display the correct property name"
The uniqueness error:

[code]

Does not display the correct property name, it displays the last property name that was looped through when the script was built.

[2012-04-10 18:40] baconz opened #66 "id__in queries that return empty queryset throw an error"
If an id__in query returns an empty result set, and you try to execute it, it throws an `AttributeError`. Try this:

[code]

Where there is no night with id 100000 or 10000.

[2012-04-10 19:09] baconz opened #67 "RelationshipQuerySet does not properly reset its cache"
Take the following example:

[code]

The last command should yield 0, but it will yield 1, because the queryset is still cached.

[2012-04-12 17:26] #61 closed, assigned to nobody

[2012-04-12 17:26] #66 closed, assigned to nobody

[2012-04-12 17:26] #56 closed, assigned to nobody

[2012-04-16 18:38] mhluongo opened #72 "NodeQuerySet.values() and values_list()"

[2012-04-16 19:45] #52 closed, assigned to nobody

[2012-04-16 20:10] mhluongo commented on #58
This is waiting on a bug in the newest client (https://github.com/versae/neo4j-rest-client/pull/61).

[2012-04-16 20:51] #58 closed, assigned to nobody

[2012-04-19 00:23] baconz opened #73 "memoized _type_node causes problems in test runs"
Since the _type_node gets memoized, when cleandb wipes it out in between test runs, we sometimes end up referencing a type node that does not exist in our queries.

[2012-04-19 14:51] mhluongo commented on #73
Hm, I thought I had come up with a solution for this already- investigating.

[2012-04-19 14:59] mhluongo commented on #73
Ah, I see, you need more than just checking for DEBUG, like in [base.py](https://github.com/scholrly/neo4django/blob/278400647ae6e78c215455ce19a54f7eca5904f5/neo4django/db/models/base.py#L395) right now?

[2012-04-20 21:04] #73 closed, assigned to nobody

[2012-04-24 14:59] mhluongo commented on #67
@baconz, was this fixed by one of the recent pull requests?

[2012-04-24 20:57] baconz commented on #67
Unfortunately, it was not -- this issue still needs to be addressed.

[2012-05-05 13:52] mhluongo opened #79 "Naive bulk QuerySet.delete()"
The best case would send the queryset logic to the server, and then delete- but for now let's keep it simple and send a delete with all the returned contents of the queryset

[2012-05-05 14:09] mhluongo commented on #79
The better solution will go hand-in-hand with a couple of these other issues(#57, #60)  that require a better Gremlin/Cypher generation framework.

[2012-05-14 21:09] davemt commented on #20
Relationship-spanning lookups should throw proper errors until this issue is resolved.

This raises an exception, but a misleading one:

[code]

This does not raise any exceptions and simply returns an empty result set:

[code]

[2012-05-25 22:51] wcbeard opened #81 "choices.all() repr"
Going through the Django tutorial, I get a poll object with
`p = Poll.objects.get(pk=3)`. It's related to the Choice class, which includes

class Choice(models.NodeModel):
    poll = models.Relationship(Poll,
                                rel_type=neo4django.Incoming.OWNS,
                                single=True,
                                related_name='choices')

While there aren't any

[2012-05-25 22:54] wcbeard opened #82 "NotImplementedError: create"
Attempted to create new model instance with `p.choices.create(choice='Not much', votes=0)`, got
`NotImplementedError: create`

[2012-05-31 15:20] mhluongo opened #85 "neo4django.tests.property_tests.test_array_property_validator regression"

[2012-05-31 19:29] mhluongo opened #86 "neo4django.tests.nodequeryset_tests.test_select_related Regression"
As reported by http://travis-ci.org/#!/doismellburning/neo4django/jobs/1487451. I can't confirm this on a local machine but I've seen others with the issue- if anyone experiencing it can look into it, that would be great.

[2012-05-31 19:35] mhluongo commented on #86
Here's the trace from Travis CI, for the lazy.

#

## ERROR: neo4django.tests.nodequeryset_tests.test_select_related

Traceback (most recent call last):
  File "/home/vagrant/virtualenv/python2.6/lib/python2.6/site-packages/nose/case.py", line 197, in runTest
    self.test(*self.arg)
  File "/home/vagrant/builds/doismellburning/neo4django/neo4django/tests/nodequeryset_tests.py", line 511, in test_

[2012-06-01 12:48] doismellburning commented on #85
Ah phew, thought I'd broken something with Travis!

[2012-06-01 12:49] mhluongo commented on #85
Nope, I think you're good on this! The weird thing is test_select_related- I can't confirm, but I have another user who's seen it too...

[2012-06-01 14:32] wcbeard opened #88 "Improper indexing for objects.all() method"
Current workaround is wrapping it in a list

[code]

[2012-06-01 15:14] wcbeard opened #89 "Asymmetric relationship saves"
For related models Choice and Polls, where a poll has multiple choices, creating multiple choices, setting their poll and saving the single poll does not save them to database. (you have to manually save each choice)

[code]

Logging out and back in doesn't change anything, so it's not a cache issue.

This is supposed to replicate the Poll and Choice models from the [Django tutorial](https://docs.

[2012-06-01 15:36] doismellburning opened #90 "Gremlin not included in packages (can't find library.groovy at runtime)"
When I attempt to `save()` a new `NodeModel` I get `IOError: [Errno 2] No such file or directory: '/Users/kristian/git/stackcompare/lib/python2.7/site-packages/neo4django/gremlin/library.groovy'` - full traceback:

[code]

Should https://github.com/scholrly/neo4django/blob/master/setup.py#L11 include `neo4django.gremlin` or am I misunderstanding things?

I'm using 0.1.5

[2012-06-01 15:48] mhluongo commented on #90
Intuitively it does seem that way- I'm exploring how I've never seen this issue before...

[2012-06-01 15:53] doismellburning commented on #90
This is what I don't understand; if I'm not doing anything wrong, I can't see how no-one using this hasn't experienced the issue. Obviously tests won't pick this up, as they don't operate on the package, but users should...!

[2012-06-01 15:55] wcbeard opened #91 "Needs to be implemented: filter method"
[code]

The models are supposed to replicate the Poll and Choice models from the [Django tutorial](https://docs.djangoproject.com/en/1.4/intro/tutorial01/). The model definitions are [here](https://gist.github.com/2858702).

[2012-06-01 15:56] wcbeard opened #92 "Needs to be implemented: count method"
[code]

The models are supposed to replicate the Poll and Choice models from the [Django tutorial](https://docs.djangoproject.com/en/1.4/intro/tutorial01/). The model definitions are [here](https://gist.github.com/2858702).

[2012-06-01 16:03] wcbeard opened #93 "Needs to be implemented: none method"
[code]

The models are supposed to replicate the Poll and Choice models from the [Django tutorial](https://docs.djangoproject.com/en/1.4/intro/tutorial01/). The model definitions are [here](https://gist.github.com/2858702).

[2012-06-01 16:06] mhluongo commented on #90
We (and most of the users I talk to) install from GitHub, so I wonder if that has anything to do with it...

[2012-06-01 16:20] doismellburning commented on #90
Right, yes, if I install `neo4django` like so:

[code]

then everything works just fine. If I `pip install neo4django` or `pip install git+git://github.com/scholrly/neo4django.git` then I get the original problem - thanks for the help, pull-request incoming!

[2012-06-01 16:25] mhluongo commented on #90
Thank you sir! Next major release I'll try to come up with a convenient way to test the PyPi release =/

[2012-06-01 16:26] mhluongo commented on #90
Oh, and while I'm thinking of it- if you're still on 0.1.5, consider upgrading :) I'll push this fix back to 0.1.5 on PyPi.

[2012-06-01 16:32] doismellburning commented on #90
Yes I'm 'still on' [the latest PyPi package](http://pypi.python.org/pypi/neo4django)... :P

[2012-06-01 19:30] mhluongo commented on #90
That... is a very good point, haha. I wanted to wait until there were more feature improvements, but maybe once these two regression tests are fixed 0.1.6 should be released. Hm...

[2012-06-01 19:34] doismellburning commented on #90
Well now I can start using neo4django, I'll probably have more pull requests coming soon. Meanwhile I'd really appreciate it if you could get 0.1.5.1 on PyPi please :) (assuming that's "0.1.5 + this fix"). Thanks :)

[2012-06-01 20:07] mhluongo commented on #90
Reopened because some things are looking fishy- I think we might be going too fast.

https://github.com/scholrly/neo4django/tree/54f24cf1b12425fa27634a114eeb9d4b01bd612d (tagged v0.1.5) doesn't even have a gremlin package- are you sure you're running in a clean environment? Or did I just exclude a huge piece of code until a later commit?

Exploring further.

[2012-06-01 20:17] mhluongo commented on #90
Yeah, this traceback must be in a dirty environment- for example, if you download the 0.1.5 release from PyPi as a tarball and check, some of these modules in the traceback (eg, neo4jclient.py) weren't introduced yet. 0.1.5 was before the big gremlin-izing push, so that makes sense.

Could you have conflicting packages on your path?

[2012-06-01 20:20] mhluongo commented on #89
@d10genes, you might want to mention in these issues that you're trying to replicate the tutorial functionality, and include the model definition- otherwise they lack some important context.  Great bugfinding otherwise :)

[2012-06-01 21:48] doismellburning commented on #90
You're right - I think I must have dirtied my environment while sorting something else (possibly Travis integration); I'm really sorry for wasting your time with that!

II believe this is still an issue for post-0.1.5 though, but yeah, I was definitely not looking at 0.1.5 at the time, sorry about that!

[2012-06-01 21:49] mhluongo commented on #90
No worries, we definitely needed the setup.py edits anyway :)

[2012-06-01 21:49] #90 closed, assigned to nobody

[2012-06-02 17:41] mhluongo commented on #86
@d10genes any chance you can replicate this in your environment? Eg running `nosetests --with-regression neo4django/tests/nodequeryset_tests.py:test_select_related`? I remember we saw this issue on your vm.

[2012-06-02 18:44] wcbeard commented on #86
Mine was [similar](https://gist.github.com/2845354), just with a different keyerror.

[2012-06-02 18:46] mhluongo commented on #86
Oh, idea! Would it be feasible for you to send me a copy of your vagrant machine? Like the actual vbox, not the config file. Then I'd have a way to replicate and debug this more closely.

[2012-06-03 22:26] mhluongo opened #97 "in_bulk chokes on iteration when ids aren't found."
As demonstrated by #96.

[2012-06-03 22:56] #59 closed, assigned to mhluongo

[2012-06-03 22:56] #97 closed, assigned to nobody

[2012-06-05 16:41] #93 closed, assigned to wcbeard

[2012-06-05 18:58] mhluongo commented on #91
This should be able to reuse some of the machinery in query.py- in particular, the kwarg parsing and the Python-side filtering. Server-side filtering can also come from query.py, though maybe we shouldn't do that quite yet.

[2012-06-05 19:15] #92 closed, assigned to wcbeard

[2012-06-05 22:00] mhluongo opened #100 "Support Django F objects"

[2012-06-07 01:33] mhluongo commented on #20
@d10genes if filter() ends up being easy, you could totally take a similar approach with this- given it's out of scope of the neo4django tutorial. Let me know if you're interested.

[2012-06-08 03:09] mhluongo opened #102 "DjangoIDProperty"
Think about ways to implement a connection between Django and Neo4j. Obviously, people can (and do) manage these things using int pointers, etc, but it'd be nice to just have a field that takes a model class or model name that points to a regular Django model.

[2012-06-13 08:54] mpetyx opened #105 "Syncdb error when I have two databases"
I guess this is a newbie question but I have in the settings.py the two databases,

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': 'bulk.db',
        'USER': '',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
    }
}

NEO4J_DATABASES = {
    'default' : {
        'HOST':'localhost',
        'PORT':7474,
        'ENDPOINT':'/db/data'

[2012-06-13 11:06] mpetyx commented on #105
Somehow it worked, and now all the sql models are in the database.
Now I will try to have both the databases up and running.
I am not sure how I did it, yet :P

[2012-06-13 14:54] mhluongo commented on #105
Have you tried the database router that comes with neo4django? https://github.com/scholrly/neo4django#working-alongside-django-orm

Let me know if that helps!

[2012-06-13 17:49] mpetyx commented on #105
Thank you very much. I have already this on my settings.py following the README file.
Sometimes it seems like working and some others it just crashes.
I will work more on it, because it seems like I have something the wrong way.
As soon as I have a more descent answer, I will update the issue here.

[2012-06-13 18:17] mhluongo commented on #105
Thanks! And if you have any more info (Neo4j version, Django version, etc) that might help as well. Sorry for the trouble!

[2012-06-13 22:06] #91 closed, assigned to wcbeard

[2012-06-13 22:14] mhluongo commented on #81
Hm, looks like this was closed by pull request #106.

[2012-06-13 22:14] #81 closed, assigned to wcbeard

[2012-06-14 04:55] mhluongo opened #107 "select_related doesn't appear to work when using id-based lookups"
Consider https://github.com/scholrly/neo4django/blob/master/neo4django/db/models/query.py#L458. Clearly, in this case `execute_select_related` never get's called.

[2012-06-14 15:16] wcbeard opened #108 "DeprecationWarning: object.__init__() takes no parameters"
[This line](https://github.com/scholrly/neo4django/blob/master/neo4django/db/models/query.py#L40)  in query.py is setting off the warning.

[code]

[2012-06-14 20:48] #82 closed, assigned to wcbeard

[2012-06-15 18:15] mhluongo commented on #105
@mpetyx are you still seeing this, or can I close the issue?

[2012-06-15 18:19] mpetyx commented on #105
Actually if that's ok with you, I would like to have a few more days.
I am working with django 1.4 and neo4j 1.8.

[2012-06-15 18:22] mhluongo commented on #105
Hm, interesting. I doubt this is the problem, but I'm definitely not caught up to Neo4j 1.8- in fact, as of 1.7 many of the query tests break (http://travis-ci.org/#!/scholrly/neo4django/jobs/1624007).

I haven't heard complaints from users about Django 1.4 yet, though we're running 1.3.2 internally.

Anyway, let me know if it crops back up again, and heads up about your Neo4j version.

[2012-06-15 18:24] mhluongo opened #110 "Update to Neo 1.7 (and hopefully 1.8+)"
A number of query regression tests break with Neo4j 1.7+ - http://travis-ci.org/#!/scholrly/neo4django/jobs/1624007/

Fixing this issue would be a great  cue for a new PyPi release :)

[2012-06-15 18:25] mhluongo commented on #105
I've filed the Neo4j update issue as #110- it'd be an awesome contribution if you get some time! :)

[2012-06-15 18:26] mhluongo commented on #110
I haven't explored in detail but I'm pretty sure the breaking changes are in library.groovy, since Gremlin has changed a bit. Off the top of my head I imagine the move from `_()` to `_` as the pipe identity probably broke some things.

[2012-06-15 23:49] wcbeard opened #111 "RelationshipQuerySet lacks delete method"
RelationshipQuerySet doesn't have delete method.

[code]

The [Django tutorial](https://docs.djangoproject.com/en/1.4/intro/tutorial01/) does

The models are supposed to replicate the Poll and Choice models from the [Django tutorial](https://docs.djangoproject.com/en/1.4/intro/tutorial01/). The model definitions are [here](https://gist.github.com/2858702).

[2012-06-16 23:16] mhluongo commented on #110
Looks like this is about completed, except for `select_related()`. Since that functionality relies on Cypher (which has been changing pretty fast) it will require some work.

[2012-06-16 23:18] #49 closed, assigned to nobody

[2012-06-17 00:38] #107 closed, assigned to nobody

[2012-06-19 02:34] #111 closed, assigned to wcbeard

[2012-06-23 16:58] unidesigner opened #114 "file library.groovy not copied"
In subfolder gremlin was not copied after installing with `sudo python setup.py install` to my system-wide packages folder. I had to manually copy it.

[2012-06-23 17:43] mhluongo commented on #114
That's annoying- I thought I https://github.com/scholrly/neo4django/blob/master/setup.py#L11 took care of that. Did you download the latest from GitHub or PyPi? Thanks for reporting, this definitely needs to get resolved.

[2012-06-23 20:56] #114 closed, assigned to nobody

[2012-06-23 20:57] mhluongo commented on #114
Confirmed and, I think, fixed the issue. This wasn't a problem for pip-installed versions (AFAIK). Sorry for the inconvenience!

[2012-06-24 07:34] unidesigner commented on #114
Thanks for the quick fix! Looking forward to start using neo4django!

[2012-06-24 15:40] unidesigner opened #115 "Wrong class returned with all() for relationship"
I have the following classes

[code]

If I now create a series:

[code]

and link:

[code]

If I return now the elements of g2:

[code]

It displays one object of type Element which should be of type Group. If I
print the name of the object and id, I get the correct information for the group, i.e. g1.

Sideremark: Is it correct how I define multiple relations e.g. for the class Group?

[2012-06-25 02:40] mhluongo commented on #115
@unidesigner Actually, that's expected behavior. I would expect `g2.elements.all()` to return all `Element`s related to (part of) the group `g2`, since your last `part_of` relationship on `Element` points to group with a related name of `"elements"`.

In situations like this, we've kept consistent with Django conventions (as best we can). See eg https://docs.djangoproject.com/en/dev/topics/db/mode

[2012-06-25 12:02] unidesigner commented on #115
What I see is that `g2.elements.all()` returns correctly `g2`, but also `e1` which it should not by default. Only if I would set depth to bigger than one, it might traverse all `part_of` relationships and return objects deeper in the hierarchy.

It becomes probably more clear with the simple data model I try to map in our CATMAID software from a relational model to the graph model:
![ObjectTree](h

[2012-06-25 15:47] mhluongo commented on #115
Hm, there is an issue here- neo4django infers model types by relationship type, so constructs like this are a little awkward. Problems like this crop up since neo4j doesn't have node types.

OTOH, you're trying to write model definitions outside of how the library expects them. For example, in Django, defining multiple fields that way just overwrites the prior fields, so you can't have two `part_o

[2012-06-26 17:22] unidesigner commented on #115
I see, your proposed approach in the gist works for me, thanks!

What does the class Meta: abstract = True do?

[2012-06-26 17:31] mhluongo commented on #115
Great! :) Is there anything I could do to improve the docs?

The `class Meta` bit is how Django accepts extra model-wide configs. `abstract = True` is just the Django approach to abstract classes (as opposed to Python's `abc`). Practically speaking, in neo4django, abstract classes don't get type nodes so they won't litter your in-graph type hierarchy.

[2012-06-26 17:31] #115 closed, assigned to nobody

[2012-06-28 07:21] unidesigner commented on #115
The Readme file is already quite long, maybe setting up a dedicated sphinx-based site (easy with readthedocs.org) would help. I find examples always quite helpful, like the one you wrote in the gist. But then, it's always helpful to read the tests.

[2012-07-05 22:09] #88 closed, assigned to wcbeard

[2012-07-06 11:08] robinedwards opened #117 "Debug toolbar plugin"
Hi,

I've created a simple django toolbar plugin for tracing api calls,

https://github.com/robinedwards/django-debug-toolbar-neo4j-panel

Thought it may interest you / other neo4django users.

[2012-07-06 12:46] mhluongo commented on #117
Very cool, I'll check it out and add it to the docs!

[2012-07-23 15:55] robinedwards opened #120 "Auth credentials not used by client when working with relationships"
Just been caught out by this bug whilst moving to production. Basically when I set http auth credentials for neo4j in OPTIONS the credentials don't get used for all requests.

The following code exercises the bug, you can see from the http requests made that some omit the http auth headers particulary a request to fetch all relationships:

 `u'GET /db/data/node/262/relationships/all HTTP/1.1\r\nHo

[2012-07-25 20:33] benjiec opened #123 "Querying/Graph traversal"
Hi

If I load my models into Neo4j using neo4django (which I have), what kind of traversal can I do? It seems like I can use familiar Django ORM style syntax to get nodes back, but can I issue queries in Gremlin/Cypher flavor to get downstream nodes? E.g. what if I want to see if node X can reach node Y?

Thanks.

[2012-07-29 15:36] #120 closed, assigned to nobody

[2012-07-29 16:42] mhluongo commented on #123
Right now, we only publicly support the regular ORM syntax, including many queryset operations. While these cover many basic traversal use cases (and some complicated ones, using `select_related`), some traversals are difficult to express (eg recursive traversals).

There are plans to add a more powerful and natural Gremlin/Cypher interface, though, and there are also internal methods you can use

[2012-07-29 16:44] mhluongo commented on #123
I'm going to leave this issue open to invite discussion. Please post if you have any ideas/feedback!

[2012-07-30 15:57] #117 closed, assigned to nobody

[2012-07-31 13:25] mhluongo commented on #105
@mpetyx can you confirm this is still a problem?

[2012-07-31 13:26] mhluongo commented on #85
@d10genes are you still interested in working on this? It should be a quick-ish fix.

[2012-07-31 13:32] mhluongo commented on #86
@d10genes would you be interested in playing with this while you still have all the select_related stuff in your head?

[2012-07-31 13:58] wcbeard commented on #85
@mhluongo I'll look at it, thanks for reminding me.

[2012-07-31 14:00] wcbeard commented on #86
@mhluongo Sure

[2012-07-31 14:43] mpetyx commented on #105
No no it's not a problem, because i downgraded my Neo4j and never actually used again version 1.8 again. ( i have not idea if it is supported at the moment )
thank you very much!

[2012-07-31 14:43] #105 closed, assigned to nobody

[2012-07-31 14:47] mhluongo commented on #105
Great, thanks! When 1.8 general release comes around, I'll be on it :)

[2012-08-03 21:02] mhluongo commented on #86
That latest still-failing status for 1.7.2 -> http://travis-ci.org/#!/mhluongo/neo4django/jobs/2031734

[2012-08-03 21:07] mhluongo commented on #110
Current status- still failing on `test_select_related` and `test_array_property_validator`\- on 1.7.2 (http://travis-ci.org/#!/scholrly/neo4django/jobs/2031810) and 1.8M06 (http://travis-ci.org/#!/scholrly/neo4django/jobs/2031812)

[2012-08-08 22:08] #14 closed, assigned to nobody

[2012-08-09 13:18] mhluongo opened #126 "Update to the latest lucene-querybuilder."

[2012-08-09 16:10] mhluongo opened #127 "one-to-one relationships are assigned the wrong related name"

[2012-08-09 16:11] mhluongo commented on #127
Apparently no one else has a one-to-one in their model, either? :)

[2012-08-09 16:13] mhluongo commented on #86
@d10genes any progress on this, or do you want me to take it on? If so, do you have any intuitions I should know about before I jump in?

[2012-08-09 16:18] #126 closed, assigned to nobody

[2012-08-09 16:18] #127 closed, assigned to nobody

[2012-08-09 16:56] mhluongo commented on #85
Actually @d10genes I've got this.

[2012-08-09 16:58] #85 closed, assigned to wcbeard

[2012-08-11 14:19] mhluongo commented on #62
@baconz I'm writing a test to confirm this, and then hopefully fix it. I understood when you raised the issue, but I seem to have forgotten- is the problem related to inheritance?

[2012-08-11 14:23] baconz commented on #62
Shoot -- it has been a long time for me too (I should have included a test case...). Looking at the code, I don't think the issue is related to inheritance -- that error is raised outside of the `for key, prop` loop, and so if it is raised, the name that gets subbed in (`prop.name`) is just the last prop that was looped through. Make sense?

[2012-08-11 14:28] mhluongo commented on #62
Yeah, I think so- it shouldn't be hard to come up with a test case for that. Thanks :)

By the by, I'm shooting you an email about this maintenance release & future plans. I want to get some feedback from your team, if you guys have a moment.

[2012-08-11 14:29] baconz commented on #62
Sounds great!

[2012-08-15 20:07] mhluongo opened #128 "Formalize gremlin error passing"
Right now, error passing between the GremlinPlugin and neo4django is done case-by-case and often involves magic strings. Come up with a more general, descriptive approach to help with issues like #62.

[2012-08-17 22:14] #62 closed, assigned to nobody

[2012-08-19 03:47] mhluongo commented on #86
Looks like this has to do with `get_model()` returning `None` instead of a model class. Looking into how to handle that case.

[2012-08-23 07:24] StevenMohr opened #129 "Unable to sync db with current HEAD"
I'm unable to run manage.py syncdb with the current HEAD. I have to use an older version like commit b847646851b3e081d33611c635c62eb3b669db29, run syncdb and after that I can upgrade to HEAD. When using HEAD, I get an AtrributeError with Relationship has no 'to' Attribute. I'm using Neo4J 1.8.M07.

[2012-08-23 13:34] mhluongo commented on #129
@StevenMohr Thanks for letting me know! I'm in the process of upgrading the library to fully support 1.7 & 1.8, and didn't notice this because we don't have a syncdb test case. In fact, if you have a chance to put together a test case it'd be a great contribution. I assume you're using the regular ORM in conjunction with neo4django?

[2012-08-23 13:39] StevenMohr commented on #129
Yes, I'm using it with the regular ORM. Do you have any tests that I can use to start for test case. I'm new to Django but have experience with Python and unit testing in general.

[2012-08-23 13:49] mhluongo commented on #129
We use [nose](http://nose.readthedocs.org/en/latest/) to run our tests (`nosetests --with-regression neo4django/tests/`). Nose lets you use just about any unit testing framework you're familiar with, though if you look through the 'tests' folder you'll see I typically stick with a test module that contains related single-function tests and assertions from `nose.tools`.

This will be the first Djan

[2012-08-23 13:50] mhluongo commented on #129
Oh, and the [README](https://github.com/scholrly/neo4django/blob/master/README.rst#running-the-test-suite) has a bit more detailed info on the subject.

[2012-08-23 16:53] StevenMohr commented on #129
I'll write a test today or tomorrow. Hopefully, I will find a way to reproduce it (it seems to need an empty database to occur)

[2012-08-27 03:12] #86 closed, assigned to mhluongo

[2012-08-27 03:18] mhluongo opened #130 "Add a travis-ci badge to the README"

[2012-08-27 13:01] #130 closed, assigned to nobody

[2012-08-27 20:26] mhluongo commented on #129
Any luck replicating this?

[2012-08-27 20:26] #41 closed, assigned to nobody

[2012-08-27 20:26] #67 closed, assigned to nobody

[2012-08-27 20:27] mhluongo commented on #110
These have been taken care of. The latest release passes all tests using Neo4j 1.7.2 & 1.8.M07.

[2012-08-27 20:27] #110 closed, assigned to nobody

[2012-08-27 20:39] StevenMohr commented on #129
I had a busy weekend :-) Hopefully, I can write the test tomorrow. Maybe I even don't need a new test but I just have to add a relationship to the model used in the tests. I think the problem is not the syncdb command but the empty database.

[2012-08-28 15:01] mhluongo opened #131 "Change select_related caching to be more in line with the Django approach"

[2012-08-28 20:10] StevenMohr commented on #129
I tried to reproduce the error today but without any results (Maybe that's a good thing .. :-)) But I have to migrate my project to our production server in a few weeks and maybe the bug will occur again...

[2012-08-28 20:12] mhluongo commented on #129
Re-open if you see it again! I hate phantom bugs too.

[2012-08-30 01:25] mhluongo commented on #89
Ha, this has turned out to be a bunch more work than I thought- apparently we don't have _any_ sort of relationship updates on the other side of the relationship until an object is saved. I almost have it figured out.

[2012-08-30 19:34] mhluongo commented on #89
Doubling back. What you're trying to do here isn't actually supported in the Django ORM- the tutorial is trying to do this with _saved_ objects, not unsaved. I started to run into some ridiculous cache issues and realized supporting fully un-saved queryset updates would be going above and beyond for most ORMs. Would it make sense for us? Maybe, but we want a drop-in integration, not a new layer fo

[2012-08-31 15:25] StevenMohr commented on #129
Okay, I just got the exception again and for now I got a copy of the traceback:
Unhandled exception in thread started by <bound method Command.inner_run of <django.
contrib.staticfiles.management.commands.runserver.Command object at 0x95be86c>>
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/Django-1.4-py2.7.egg/django/core/mana
gement/commands/runserver.py", line

[2012-08-31 15:27] mhluongo commented on #129
Awesome, thanks. I think I can do something with this..

[2012-09-11 13:45] mhluongo opened #132 "Update User-Agent for Neo4j 1.8.M07 statistics"

[2012-09-11 14:17] mhluongo commented on #41
Changing this to a warning, since there are some advanced use cases where the old behavior is preferred.

[2012-09-11 20:46] #129 closed, assigned to nobody

[2012-09-12 16:31] #132 closed, assigned to nobody

[2012-10-18 01:57] #46 closed, assigned to nobody

[2012-10-26 21:51] icaria opened #133 "Relationship Properties"
I understand the intended behaviour is to inherit neo4django.db.models.Relationship in order to add Integer and String properties to Relationships.

class UserGroupRelationship(Relationship):
    joined = models.DateProperty()

But when I defined a relationship in this way and try to run my tests, I get this error.

Unhandled exception in thread started by <bound method Command.inner_run of <djang

[2012-10-27 15:25] mhluongo commented on #133
Actually, that's the intended _future_ behavior. We don't have relationship models working yet, and it's our longest standing issue (https://github.com/scholrly/neo4django/issues/1). I hope to tackle it next release.

We do have relationship ordering (`preserve_ordering`), which helps in some use cases. For now, you can always add another `NodeModel` in between as a stop-gap and add your propertie

[2012-10-27 18:35] icaria commented on #133
Thanks for the notice, adding a NodeModel was my initial solution, was just hoping for the more elegant one of Relationship Properties. I'm relatively new to Neo4django so just didn't want to miss anything obvious. I'm glad to know there's plans to implement it. I'll close this.

[2012-10-27 18:35] #133 closed, assigned to nobody

[2012-11-03 22:46] icaria opened #134 "relationship query"
I'm sure I'm missing something obvious, but how would you go about querying relationships in the following scenario?

a Person(NodeModel) has a Group(NodeModel), each Group(NodeModel) has a GroupType(NodeModel), each Group also has a created_date (DateProperty). I want to query all the groups a person is in that are of group_type "Chess Club" that were created after January 1st, 2012.

Here's a ge

[2012-11-03 23:40] mhluongo commented on #134
@icaria unfortunately, you aren't missing anything. Querying against related objects is another open issue (https://github.com/scholrly/neo4django/issues/20).

As a workaround, you can either do the particular filtering you're looking for in-memory (unless a person is in a ton of groups this should work fine) or use Cypher, and wrap the results in neo4django objects. I've [written a gist](https://

[2012-11-03 23:44] mhluongo commented on #134
For a similar example, check out this [other gist](https://gist.github.com/2628389) as well.

[2012-11-04 00:10] icaria commented on #134
Thanks again, the in memory queries will work fine for my case. I appreciate the quick responses; as there aren't really much resources out there to help answer quick questions for this.

[2012-11-04 00:15] mhluongo commented on #134
I do what I can :) I've been meaning to put together a tutorial or example project, but haven't had the time. If you ever want to share a project or write a quick blog post, let me know and I'll do whatever I can to help!

[2012-11-11 02:22] icaria commented on #134
Hmm interesting, I tried the code sample you provided.

[o for o in self.groups.all() if o.type.type == "Chess Club"]

And I'm getting a 'RelationshipInstance' object has no attribute 'type' error. It doesn't like the o.type.type, but I have my model defined pretty much identical to yours.

[2012-11-11 02:29] mhluongo commented on #134
Sorry about that, I was going a little too fast. I just edited what I think was the problem.

[2012-11-11 02:30] mhluongo commented on #134
For future reference, a `RelationshipInstance` is an attribute on the one-or-mant-side of a many-to-many or many-to-one relationship. The attribute should've been `group_type` with `single=True` set for the relationship.

[2012-11-11 02:46] icaria commented on #134
Thanks again. I'll pay more attention to the single property now that I know it changes the type of object returned.

I'm kind of stuck again because I have inherited objects which are causing all kinds of issues with the query. I'm wondering if you would have a solution for this.

[code]

The supervisor is just a made up property, in my case I want to query for all the ChildrenGroups by doing the

[2012-11-11 02:52] mhluongo commented on #134
Absolutely! We have a similar issue in our data layer @scholrly. I've tried to come up with something more elegant than casting, but it works for now.

[code]

LMK if you have any other questions!

[2012-11-11 03:02] icaria commented on #134
Thank you VERY much for your help! I was able to learn a lot.

[2012-11-11 03:02] #134 closed, assigned to nobody

[2012-11-22 00:12] ailling opened #135 "Support for ModelForm"
ModelForm doesn't seem to be supported. I have the following class:

[code]

And the following modelform:

[code]

The generated error is:
`'super' object has no attribute 'editable'`

When django dynamically resolves fields it's finding a BoundProperty instead of a StringProperty or Property for this field. This happens around line 148 in django/forms/models.py
Example pdb output:

[code]

editab

[2012-11-24 00:13] mhluongo commented on #135
Sorry I took so long to respond! I read over this issue and the associated StackOverflow question a couple days ago, but don't yet have a better fix over the workaround you're using.

I do, however, have a good idea how to fix the problem. `BoundProperty` proxies many of it's attributes back to a `Property` instance. `editable` should be in that list of proxied properties. I'm not sure whether tha

[2012-11-24 21:31] ailling commented on #135
Thanks for looking into this- the solution I posted on stack overflow is suitable for my needs & personally, I don't find ModelForms particularly useful in the long-term anyway because I tend to replace them with actual form classes so I can have more flexibility (i.e., custom validation errors, initialization routines, etc.)

My initial thought was also to add an editable field to the BoundProper

[2012-11-25 01:34] mhluongo commented on #135
If you don't mind, I'll keep this open as a reminder. I think some of the ModelForm issues we've seen here will also come up if (when!) I finally try to tackle integration with the Django admin site.

[2012-11-25 01:36] mhluongo commented on #135
I'm glad you're making good use of the library! :) Let me know if it's missing anything else in particular for your use case.

[2013-01-11 05:04] mhluongo opened #136 "Upgrade to latest neo4j-rest-client"

[2013-01-11 05:15] mhluongo opened #137 "Better mixing of QuerySet & native script support"
Eg, Cypher + QuerySets, Gremlin + QuerySets. Initially maybe just clean up the internal Gremlin & Cypher handling for external use (results=null be default, etc).

[2013-02-27 06:00] mhluongo opened #138 "Relationships that point to multiple types of nodes"
A nice benefit of Neo4j is its untyped nature. However, types are nice (and indeed necessary) for Django ORM-style schema definition.

The two work well together most of the time, except when it comes to relationships. Code like this should be possible

[code]

In many cases, a person would only speak to other people... until you model someone who loves their pet dog. Or rock. Whatever.

The probl

[2013-02-27 13:08] bhcarpenter commented on #138
A common way of doing this among ORMs (for actual RDBs) is to require a `RELATIONSHIP_type` field (often called a discriminator field) in the same table as the foreign key (see Rails: http://guides.rubyonrails.org/association_basics.html#polymorphic-associations).

Those systems need to know the type of the related model ahead of time so they can determine which table to look in for the data. Sinc

[2013-02-27 20:34] mhluongo commented on #138
@bhcarpenter I'll have to think a bit more about the discriminator idea. Currently, the graph has enough info- since it's built on an inheritance hierarchy-  to already infer types. Whether we use that or migrate to a property on a node to signify type is mostly an internal performance / convenience question. In future versions of Neo4j, I know there are plans to use special-cased node "labels" th

[2013-02-27 21:36] mhluongo commented on #138
Another major issue is query performance. Every time we hit a relationship like this in `select_related` or in a relationship-spanning lookup (#20) we'd have to do some pretty wonky stuff. For example, from the tests we currently have

[code]

Let's say, instead, each `chases` relationship can be of any type. If we do

[code]

or, using the future relationship-spanning lookups,

[code]

and we are

[2013-02-27 22:31] mhluongo opened #139 "Basic support for django.contrib.admin"

[2013-02-27 23:53] mhluongo opened #140 "QuerySet.order_by() support"

[2013-02-27 23:54] mhluongo opened #141 "Refactor node and relationship queryset work to share a common base"

[2013-02-27 23:54] mhluongo opened #142 "create"

[2013-02-27 23:57] #142 closed, assigned to nobody

[2013-03-02 15:06] mhluongo opened #143 "Django 1.5 support"

[2013-03-02 15:07] mhluongo opened #144 "Sphinx documentation for RTD"

[2013-03-04 00:42] mhluongo opened #145 "Tutorial projects"
Put together a couple well-documented tutorial projects. Make sure to hit major differences between neo4django, Django proper, and using a bare REST client.
- Auth workarounds and native auth.
- Lack of an admin site, and using `manage.py shell` as a substitute.
- Querying capabilities.
- Unroll a few queries to Cypher to show the power of the mapper.

[2013-03-04 16:42] mhluongo opened #146 "QuerySet.update() support"
This will be much more meaningful after #100.

[2013-03-06 02:26] #140 closed, assigned to nobody

[2013-03-06 02:26] #53 closed, assigned to nobody

[2013-03-06 02:26] #60 closed, assigned to nobody

[2013-03-07 20:35] #144 closed, assigned to nobody

[2013-03-07 20:36] mhluongo commented on #144
Closed in https://github.com/scholrly/neo4django/commit/2fc1bb045b850429ca2bf2184cc19bcbdca84922

[2013-03-07 20:46] mhluongo opened #147 "Document neo4django auth"

[2013-03-08 05:05] lukeorland commented on #145
I've begun following along with the official Django [tutorial](https://docs.djangoproject.com/en/1.4/intro/tutorial01/) with neo4django model objects in place of the standard Django ORMs.

I figure this is a good way for those who are familiar with that tutorial to approach neo4django for the first time. I'm actually having a problem after creating an app with two model types. When I do a basic qu

[2013-03-08 14:46] mhluongo commented on #145
@lukeorland we haven't done a great job keeping the tutorial up-to-date (thus this issue)- but it looks like your problems has to do with your version of Neo4j. What version are you using? And are you using neo4django-dev or 0.1.7 in PyPi?

[2013-03-08 16:11] mhluongo commented on #145
@lukeorland I just saw the work you were doing in your fork- that's awesome! Please let me know if I can do anything else to help.

[2013-03-08 17:43] lukeorland commented on #145
Thanks for the nice Django module!

I'm using Neo4j 1.8.1. I more or less merged the neo4django `.travis.yml` and `install_local_neo4j.bash` scripts into a single script that installs Neo4j locally and `neo4django-tutorial/setup_env_neo4j.bash`. I did this a week or so ago, so I'll update it against those files in the current neo4django commit.
https://github.com/lukeorland/neo4django-tutorial/blo

[2013-03-08 19:26] mhluongo commented on #145
Definitely try upgrading to Neo4j 1.8.2+ and the latest neo4django (I'd switch to `-e git+https://github.com/scholrly/neo4django@937b8a0544ff3ee49d6e3fdacee7a4445fbbda13#egg=neo4django-dev` or later in the req file).

0.1.7 on PyPi was only tested as far as 1.8M07 I believe, and Neo is changing fast.

[2013-03-09 01:26] lukeorland commented on #145
I bumped neo4j to 1.8.2 and neo4django to the version you recommended. It was an improvement. Unfortunately, an all() query did raise an exception:

https://gist.github.com/lukeorland/5121798

[2013-03-09 01:28] mhluongo commented on #145
Hm, it looks like you're somehow getting "neo4django.tests.test_settings" as your settings module- any ideas? The manage.py looks right. Could your "DJANGO_SEETING_MODULE" env var be set?

[2013-03-09 01:30] lukeorland commented on #145
I think it is:

[code]

[2013-03-09 01:31] mhluongo commented on #145
Aha! You want that set to nothing or "mysite.settings".

[2013-03-09 01:31] mhluongo commented on #145
As long as you're in the same dir as your manage.py, or `mysite` has otherwise been added to your Python path, that is.

[2013-03-09 01:35] lukeorland commented on #145
excellent. That problem fixed. Thanks so much! I'll forge on with more of the tutorial.

[2013-03-09 01:36] mhluongo commented on #145
Very cool! Let me know if you have any other issues.

[2013-03-09 02:05] lukeorland commented on #145
Don't suppose this type of `filter` query is supported yet, is it?

[code]

[2013-03-09 02:58] mhluongo commented on #145
Actually, it is- https://github.com/scholrly/neo4django/blob/master/neo4django/tests/nodequeryset_tests.py#L515 and it appears to be passing. I believe LEFT was added as a Cypher function in Neo4j 1.8.2- maybe you're still connecting to 1.8.1, or the Cypher parser version is older?

Most basic queries _should_ work- it's when you want to query against related objects that there are issues. I'm wor

[2013-03-09 03:12] lukeorland commented on #145
Yes, I had 1.8.1 installed to my system (via Homebrew), and though I thought the project's local Neo4j 1.8.2 installation was being run, somehow it was still running the system one. I've uninstalled it from my system, and setting it up freshly locally to try again. sorry about that.

edit: confirmed--upgrading to 1.8.2 fixed that startswith query error.

[2013-03-09 22:29] #147 closed, assigned to nobody

[2013-03-10 01:30] lukeorland opened #148 "timezone offset error after saving to db"
Once an object is written to the database, determining the timezone offset breaks.

`polls/models.py`:

[code]

`python manage.py shell`:

[code]

[2013-03-10 01:54] mhluongo commented on #148
Funny, I just ran into this testing the auth stuff- on it. Thanks!

[2013-03-10 02:27] mhluongo commented on #148
Hm, it looks like the DateTimeTZProperty needs to be handled as Django expects- https://github.com/django/django/blob/8aefd30379eba9aa7e5afcc69cc352adf0d23489/django/db/models/fields/__init__.py#L758

[2013-03-10 02:52] lukeorland commented on #148
I was attempting to write a unit test to isolate this. In doing so, I ran `nosetests -f reg_settings.py` against the current commit in master and got

[code]

Does this look about right to you?

[2013-03-10 03:08] mhluongo commented on #148
The numbers look right- there are a bunch of tests for future features included. If you only want to see failing regression tests, run `nosetests --with-regression neo4django/tests/`. You can add new tests to the `should_fail` list in reg_settings.py.

I think I'm going to focus on merging the DateTime and DateTimeTZProperty classes, since that looks like the preferred Django way of handling this.

[2013-03-19 17:17] drewnix opened #149 "Getting AttributeError: type object 'Model' has no attribute '__metaclass__' when running python manage.py syncdb"
Trying to get a basic neo4django setup to play around with by following the instructions on this page:

https://neo4django.readthedocs.org/en/latest/getting-started.html

I'm using django-1.5.

I set the basic configuration listed on the page then attempted to run syncdb:
$ python manage.py syncdb
AttributeError: type object 'Model' has no attribute '**metaclass**'

[2013-03-19 20:35] stephendwolff commented on #149
Funny - i had the same problem today - and reverted to Django 1.4.4 (where it doesn't happen).

I think there's already an open 'Django 1.5 Support' issue - without any comments yet.

[2013-03-20 13:03] mhluongo commented on #149
@stephendwolff is absolutely right. I've played with supporting Django 1.5 in a private branch, but I wanted to get a few more features in before I added another version I need to test against. Now that we have auth support and a saner queryset implementation, this shouldn't be too tough. I'm closing this issue (since it's a duplicate) but you shouldn't have to wait long for 1.5 support.

[2013-03-20 13:03] #149 closed, assigned to nobody

[2013-03-20 14:20] #141 closed, assigned to nobody

[2013-04-03 01:10] mhluongo commented on #146
This is going to be much trickier than it initially appeared, since most of the indexed values are computed client-side AND Cypher can't insert into indices. Maybe initially only working for non-indexed properties would be more reasonable... either that, or the `update()` Gremlin code that delivers the Cypher will also have to handle updates.

[2013-04-03 01:14] mhluongo opened #150 "Saving a model with a `unique=True` property fails..."
with a ValueError, like `ValueError: Duplicate index entries for <UniqueName>.name`. I've seen evidence in the past (eg http://stackoverflow.com/questions/15591894/in-neo4django-is-there-any-way-to-update-node/15593856#), but I've only now confirmed it.

[2013-04-03 02:14] #79 closed, assigned to nobody

[2013-04-03 02:14] #150 closed, assigned to nobody

[2013-04-03 15:32] mhluongo commented on #148
@lukeorland this was fixed by merging the DateTime and DateTimeTZProperty classes (7d96603c), and offloading most of the tz handling to Django util libraries. I've updated the `User` class, so if you just start using `DateTimeProperty` and either set `USE_TZ = True` in your settings, or set the local tz, you should be good.

[2013-04-03 15:32] #148 closed, assigned to nobody

[2013-04-04 01:03] mhluongo opened #151 "In weird situations, QuerySets can return the wrong type model"
In particular, if an index is shared between two models- eg, they're siblings in the inheritance graph with an index defined at the parent level- and a query is run against an attribute indexed at the parent level, models of both sibling types are returned.

This (should) be pretty easy to fix.

[2013-04-04 01:06] #136 closed, assigned to nobody

[2013-04-04 01:06] mhluongo commented on #139
This depends on #135.

[2013-04-04 14:31] #151 closed, assigned to nobody

[2013-04-29 22:24] #20 closed, assigned to nobody

[2013-04-29 22:24] #35 closed, assigned to nobody

[2013-04-29 22:26] mhluongo commented on #40
Labels in Neo4j 2.0 should be the perfect solution for this. Holding off until then. Unfortunately, the change will be backward incompatible- I'll try to include a migration script as well.

[2013-04-30 02:07] bhcarpenter opened #152 "Error in retrieving logged-in user via NodeModelBackend"
Steps to duplicate:
- Log a user in
- On any subsequent requests, any attempt to resolve the lazy user object into an actual User results in _**\* AttributeError: AttributeError("type object 'User' has no attribute 'user_id'",)_

For example: `self.request.user.is_authenticated()` in a view

[2013-04-30 02:14] bhcarpenter commented on #152
@mhluongo there is a simple fix, but if you don't mind I'd like to go ahead and go through the motions of writing a test for it and submitting a pull request. I'd like to get up to speed with Python testing tools.

[2013-04-30 03:28] bhcarpenter commented on #152
One issue with this approach:

A person could log in and then be authenticated as a different User if the User they logged in as was deleted and then the ID that was saved in session was re-used for a different User by Neo4j. Thoughts?

[2013-04-30 12:27] mhluongo commented on #152
Regarding id reuse- ids won't be reused in Neo4j. Still, I'd rather rely on our own identifier than one based on Neo4j internals (they consider ids an implementation detail). Alternatively, we could just add a `user_id` AutoProperty. I'll give that a try.

[2013-04-30 12:32] mohamedturki commented on #152
I added `user_id = AutoProperty(indexed=True, unique=True)` and it works fine.

[2013-04-30 12:39] mhluongo commented on #152
`user_id` in now in master. Thanks @bhcarpenter and @mohamedturki :)

[2013-04-30 13:03] bhcarpenter commented on #152
If we go this route, we'll need to make sure that Django writes `user_id` to session instead of the primary key, or flag the `user_id` as the primary key.

[2013-04-30 14:55] rosscdh commented on #149
Hey there! Firstly fantastic work on this awesome project. I look forward to using and contributing to it where I can.

Has there been any movement on this item? What is teh eta on 1.5 support? and do you need a hand with that deliverable?

[2013-04-30 16:03] mhluongo commented on #152
Continuing our off-GitHub discussion- are you sure this is an issue? Initial testing seems to properly store the user in-session, regardless of this change. LMK if you can confirm otherwise.

[2013-04-30 16:07] mhluongo commented on #149
Aw, thanks! There hasn't been much movement yet on Django 1.5 support (#143) but it's slated for next release, which I hope to have out in a month or two. I'd love help with it. Much of the work should be pretty straightforward- eg the above can be fixed by using `type(Model)` instead of `Model.__metaclass__`\- and much of it will be related to changes in Django 1.5 made to support Python 3.

The

[2013-05-02 16:40] mhluongo commented on #152
@bhcarpenter are you still having a problem with this?

[2013-05-02 17:20] bhcarpenter commented on #152
I haven't had a chance to check it yet, but I'm planning on it tonight. I'm worried that the success you've seen might be coincidental due to the user_id being equal to the primary key, so I'm going to try to test it when user_id != primary key tonight.

[2013-05-03 00:30] bhcarpenter commented on #152
Confirmed that this breaks if user_id is not equal to the node id. We need to make sure that Django stores user_id in session instead of the node id.

[2013-05-03 00:41] bhcarpenter commented on #152
I'm pretty new to Django internals, but https://github.com/django/django/blob/stable/1.4.x/django/contrib/auth/__init__.py#L72 seems to imply that we have to work with the actual `id` property of the user objects.

Maybe we can have the `authenticate` method of `NodeModelBackend` return an adapter that subclasses `neo4django.auth.User` and overrides the `id` property accessor to return `user_id` i

[2013-05-03 01:53] mhluongo commented on #152
@bhcarpenter I read that as "`user.id` needs to be unique" to be properly stored in the session and prevent collisions- which it is, since no `NodeModel` instance shares an id with another. Let me look into this a bit, but if `id` really needs to point to `user_id` I'd rather implement the `primary_key=True` method (https://docs.djangoproject.com/en/dev/ref/models/fields/#primary-key)  and set `us

[2013-05-03 02:01] bhcarpenter commented on #152
Take a look at that line of the Django source that I referenced. I don't see any way around aliasing the `id` property to return `user_id`. Also, from what I can read of the docs, setting `primary_key=True` just tells Django not to automatically generate an `id` property. It doesn't seem to automatically point `id` to the primary key.

Technically, I think django.contrib.auth should be using `pk`

[2013-05-03 04:09] mhluongo commented on #152
Good point, you're right about primary_key. I wish it did work that way though :(

The custom user_id is for migrations / backups / etc- node ids are supposed to be considered an implementation detail. Maybe that doesn't matter so much, though, since we already have a unique `username` field?

I also wonder how this all involves Django 1.5's swappable `User` models (#143).

[2013-05-04 14:34] #152 closed, assigned to nobody

[2013-05-06 03:54] mhluongo commented on #48
Closing this, since Neo4j 2.0's label schemas will make it irrelevant.

[2013-05-06 03:54] #48 closed, assigned to nobody

[2013-05-07 03:20] #135 closed, assigned to nobody

[2013-05-08 21:45] mhluongo commented on #149
@rosscdh are you still interested in this?

[2013-05-09 11:24] rosscdh commented on #149
Hi Matt I am but unfortunately am up to my ears at the moment.

I may have some time next week for it?

Are there any plans for it?

On Wednesday, 8 May 2013, Matt Luongo wrote:

[2013-05-09 13:13] mhluongo commented on #149
No, no plans- sorry, not trying to rush you. I just wanted to make sure I hadn't scared you off :)

[2013-05-10 18:48] mhluongo commented on #5
This will no longer be necessary come Neo4j 2.0 - closing.

[2013-05-10 18:48] #5 closed, assigned to nobody

[2013-05-22 18:47] szabi opened #155 "Support Neo4j 2.0 "labels" feature and (new) schema indexing."
Labels are going to be a powerful feature of Neo4j 2.0
I'd love to see its capabilities being tapped by neo4django!

[2013-05-22 19:54] mhluongo commented on #155
Thanks for opening the issue- I'm definitely planning on it!

There are a few hiccoughs (like date indexing support) that I'll need to work out, but I think labels are a much more elegant way to take care of typing and indexing NodeModels in the graph.

[2013-05-23 05:46] szabi commented on #155
How does date indexing relate to schema indexing? As I understand date indexing is not directly supported by neo4j and would be part of building an index (in neo4j) by the higher-level model.

[2013-05-23 11:55] mhluongo commented on #155
Right now we accomplish date and integer indexing and querying in
neo4diango, including ranges. When I switch to labels and a more
Cypher-centric indexing process, I don't want to sacrifice features.

Hopefully most of these concerns will disappear when I actually begin the implementation :)
On May 23, 2013 1:46 AM, "szabi" notifications@github.com wrote:

[2013-05-25 07:24] szabi opened #156 "Database Router breaks functionality"
Hi,

I was trying to set up the example form https://neo4django.readthedocs.org/en/latest/getting-started.html and https://neo4django.readthedocs.org/en/latest/writing-models.html

I encountered the following problem:
when the recommended (so that it plays nicely with sqlite3 data)

[code]

is set, I get the error:

[code]

when trying either `python manage.py syncdb` or `python manage.py shell`.

[2013-05-25 07:56] szabi commented on #156
Actually, as soon as I add the line `from neo4django.db import models` to a models.py, I get the very same error
(`AttributeError: type object 'Model' has no attribute '__metaclass__'`)

[2013-05-25 09:46] stephendwolff commented on #156
are you using django 1.4 or 1.5? i don't think 1.5 is supported yet..

Sent from Samsung Mobileszabi notifications@github.com wrote:Actually, as soon as I add the line from neo4django.db import models to a models.py, I get the very same error
(AttributeError: type object 'Model' has no attribute '**metaclass**')

—
Reply to this email directly or view it on GitHub.

[2013-05-25 20:41] mhluongo commented on #156
Absolutely right- check out https://github.com/scholrly/neo4django/issues/143 & https://github.com/scholrly/neo4django/issues/149 for more info. Django 1.5 support is planned for the next release, and is a great place to contribute if anyone is interested :)

[2013-05-26 14:47] szabi commented on #156
Ok, sorry, you are right, I'm on 1.5. Should have checked compatibility notes. Also sorry for not noticing #149, probably because it was already closed. sry for the inconvenience, if any was caused.

[2013-05-26 14:54] szabi commented on #145
"Make sure to hit major differences between neo4django, Django proper, and using a bare REST client."

you could also make a cursory comparison to ''neomodel'' (https://github.com/robinedwards/neomodel).

[2013-05-26 17:59] mhluongo commented on #145
I'm not super familiar with neomodel, but it looks like the big differences
are how closely we match the Django ORM, querying capabilities, and how we
handle relationships. Wdyt?
On May 26, 2013 10:54 AM, "szabi" notifications@github.com wrote:

[2013-05-27 15:28] szabi commented on #145
That's why I suggested just a cursory treatment, Matt :-)

I don't know it well either, actually, I was looking for neo4j ORM (or OGM) for python when I came across both neomodel and neo4django. In fact, I am finding myself learning both just to be able to decide which fits my goal better -- from a users perspective somewhat a waste of time. A comparison of both by the author / lead designer of th

[2013-05-27 16:01] mhluongo commented on #145
Agreed, I think it's a good idea.

Would you be interested in sharing the results of your comparison, when you
feel comfortable with both? I'd love another perspective, since my main use
case is @scholrly.

I'll also include a quick comparison with bulbflow.
On May 27, 2013 11:28 AM, "szabi" notifications@github.com wrote:

[2013-05-27 17:30] szabi commented on #145
Actually, I'm not sure I will dwelve into neomodel (let's see), as the active support of neo4django is a deal-maker :-) Yes, that was a compliment to you!

[2013-05-27 20:08] szabi opened #157 "make error message more understandable / raise helpful error"
I came across this unhelpful error message.

[code]

It turned out the model did not like me using `id` as a property. Then I remembered, that either in django or neo4django I read that reserved words would be not allowed, maybe that was my fault, however, I think the error message raised is not very helpful. Maybe catch the error earlier and raise a helpful exception?

[2013-05-27 21:02] mhluongo commented on #157
Yep, in neo4django 'id' always refers to the id of the node behind the
model instance. I'll look into catching id declarations and raising a
sensible error on model definition, insteady of that mess. Honestly, even
the above should be raise a reasonable exception type (maybe something like
'GremlinException').

By the way, if you do need a custom id you can still declare any other
field as an Auto

[2013-05-28 00:23] mhluongo commented on #156
Closing this. No worries :)

[2013-05-28 00:23] #156 closed, assigned to nobody

[2013-05-28 00:23] mhluongo commented on #145
Aw, shucks! Well let me know if you decide otherwise.

[2013-05-28 14:47] mhluongo opened #158 "QuerySet.latest() / QuerySet.earliest()"

[2013-05-28 14:47] mhluongo opened #159 "QuerySet.bulk_create()"

[2013-05-28 14:48] mhluongo opened #160 "QuerySet.distinct()"

[2013-05-28 14:48] mhluongo opened #161 "QuerySet.reverse()"

[2013-05-28 14:49] mhluongo opened #162 "QuerySet.annotate()"

[2013-05-28 14:51] mhluongo opened #163 "Properly recognize the 'pk' shortcut"
'pk' should always be a reference to 'id'.

[2013-05-28 16:25] szabi opened #164 "UserWarning on shared relationship and type ... when there is none."
Re: http://stackoverflow.com/questions/16778888/neo4django-unexpected-warning/16782275

Model: https://gist.github.com/szabi/e57f23d76b885d604a36

[code]

While there _is_ a conflict for `families indeed`, there is definitely no conflict in the definition of `evidence`.

[2013-05-28 18:56] #158 closed, assigned to nobody

[2013-05-28 18:56] #160 closed, assigned to nobody

[2013-05-28 18:56] #161 closed, assigned to nobody

[2013-05-28 19:00] mhluongo opened #165 "Remaining QuerySet field lookups"
Including regex, iregex, iexact, icontains, year, month, day, week_day, isnull, iendswith, istartswith, and endswith.

[2013-05-28 19:03] mhluongo commented on #160
Note that this only works for distinct node ids- not arbitrary fields.

[2013-05-28 21:24] mhluongo commented on #165
week_day is going to be difficult (impossible?) to implement in Cypher as it currently exists.

[2013-05-28 21:44] mhluongo opened #166 "Implement the isnull field lookup for relationships"

[2013-05-28 21:57] #165 closed, assigned to mhluongo

[2013-05-30 04:04] mhluongo opened #169 "Respect model._meta.ordering"

[2013-05-30 14:22] mhluongo opened #170 "No longer depend on the reference node"

[2013-05-31 19:51] mhluongo opened #173 "Rel-spanning lookups don't work with '__id' or '__pk'"
Both show up frequently in Django apps. For example, from the admin app

[code]

[2013-05-31 19:55] mhluongo opened #174 "Respect django.db.transactions"

[2013-06-01 19:59] mhluongo commented on #139
I'm very excited about this...

[2013-06-01 23:36] #139 closed, assigned to nobody

[2013-06-01 23:36] #173 closed, assigned to nobody

[2013-06-02 17:29] mhluongo opened #175 "Symmetrical many-to-many relationships"
Neo4j relationships are directed, but model relationship directions shouldn't have to be.

[2013-06-02 17:30] #163 closed, assigned to nobody

[2013-06-02 22:35] mhluongo opened #176 "ModelAdmin list_display support"

[2013-06-02 22:40] mhluongo opened #177 "The admin chokes on listing NodeModels inheriting from a concrete parent"
with the error

AttributeError at /admin/app/model/
'Model' object has no attribute 'parent_ptr_id'

(where model is the name of the model, and parent is its parent)

[2013-06-03 04:27] mhluongo opened #178 "Admin sorting doesn't work on array properties"
In fact, it raises a Cypher error

[2013-06-03 04:31] #177 closed, assigned to nobody

[2013-06-03 05:00] mhluongo commented on #176
Closed in 032d67cc085c2d3b188e46fcb4eccb560c6efd04.

[2013-06-03 05:00] #176 closed, assigned to nobody

[2013-06-03 05:09] mhluongo opened #179 "admin chokes on editing inherited NodeModels"
AttributeError at /admin/app/model/1234/
'Model' object has no attribute 'parent_ptr_id'

[2013-06-03 17:31] szabi opened #180 "Use Cypher in cleandb() instead of the deprecated cleandb extension"
Michael Hunger did never upgrade `cleandb` extension of neo4j as beginning with 1.9 you can purge the DB via cypher. (see link below; actually, I did not even manage to get cleandb to work with 1.8 either)

Unit test are crucial. Enable the possibility to clean the test db not via the cleandb extension, but via cypher.

http://stackoverflow.com/questions/16862852/why-does-the-cleandb-extension-ref

[2013-06-03 18:42] mhluongo commented on #180
@szabi I'm pretty sure this is a non-issue, or none of our tests would run- are you sure you're not missing something with the extension? It works fine on our continue integration in Travis (eg https://travis-ci.org/scholrly/neo4django/jobs/7724430) and, on top of that, the `neo4django.neo4jclient.EnhancedGraphDatabase.cleandb()` method falls back to Gremlin if the cleandb extension doesn't work (

[2013-06-03 19:03] szabi commented on #180
Hm, my error seems _definitely_ have to do with my neo4j/cleandb setup, as the server does not respond to the REST call of the `cleandb` method. (As described in the stackoverflow question). The reason I dared to raise an issue here before everything about that was sorted out over at stack overflow was exactly because it occured to me, that "upgrading to Cypher to do the deletions might be a good

[2013-06-03 19:06] mhluongo commented on #180
No worries, I'll change the title and we'll leave this open- we 100% need it for 2.0 since the Gremlin plugin won't be in Neo4j by default, and if cleandb is this much of a pain maybe a switch sooner is better.

[2013-06-07 13:48] lutoma opened #182 "Wrong queries sent to neo4j server when using auth module"
I just started playing around with the neo4django.auth module and after successfully adding my user (Which I can also view in the neo4j web frontend, so the node exists), I got the following error when trying to log in:

[code]

After playing around for a bit and adding a `print("result set: {}".format(raw_result_set))` right after line 1119 in neo4django/db/models/query.py I found out that raw_re

[2013-06-07 15:26] mhluongo commented on #182
Hm, do you have a code snippet to reproduce this? It works fine on my end (I can log into admin, etc). Also, what version of Neo4j are you using?

[2013-06-07 15:32] mhluongo commented on #182
Oh, and if you're alright doing a bit more debugging, the line in `execute()` just before that one has `groovy` and `params` variables- the values of both of those would be really handy.

[2013-06-07 15:58] lutoma commented on #182
Turns out I've been using neo4j 1.6 for whatever reason which was why everything broke. Switched to neo4j 1.9 and now it works fine.

[2013-06-07 15:58] #182 closed, assigned to nobody

[2013-06-07 16:07] mhluongo commented on #182
Excellent, let me know if you run into anything else!

[2013-06-07 18:11] lutoma opened #184 "tastypie doesn't work with neo4django"
I'm currently building a backend for an iPhone app using neo4django and am trying to use tastypie with it.

I have a neo4django model like this in my models.py:

[code]

Unfortunately, as soon as I add some tastypie API resource like the following:

[code]

and call `PostResource()` to initialize a new object of that resource somewhere, it results in the following traceback:

[code]

I've dug arou

[2013-06-07 19:10] mhluongo commented on #184
Sorry- unfortunately, I can't test against every popular Django app :(. In fact, until the recent admin integration I wasn't sure whether we'd ever approach integration with third-party apps. I'd love to see neo4django working with tastypie.

The reason you're seeing issues is that the legacy codebase neo4django is built on introduced a separate `Property` class for model definition magic, and `Bo

[2013-06-07 23:11] nimrodm commented on #143
When will it be available ?

[2013-06-07 23:14] mhluongo commented on #143
The plan is to finish this with the next release (shown above as milestone 0.1.9) which should be out within a month. If I get enough community contribution, it could go out earlier.

This is a great issue to work on for new contributors.

[2013-06-07 23:23] nimrodm commented on #143
OK, thanks.

[2013-06-10 14:29] lutoma commented on #184
I just played around with it and got tastypie to work with neo4j: https://github.com/lutoma/neo4django/commit/81d8dfc8d8b4a24597ae50171428bbcab24841d3

Unfortunately all Relationships end up in the API json as a string representation of the RelationshipInstance object: `"location": "<neo4django.db.models.relationships.RelationshipInstance object at 0x7f3c1002e110>",`. I'll have to see how I can fi

[2013-06-10 15:14] mhluongo commented on #184
Does it work for the single side of one-to-many relationships? I would think it might in that case.

[2013-06-10 15:28] lutoma commented on #184
Hmm, kind of. But it also contains a string representation of the object instead of the object itself in json form. Also, the key is wrong (It's "location" while it should be "post". The object currently viewed is a Location object).

[code]

[2013-06-10 15:41] lutoma commented on #184
Okay, I think I found out why this is happening. My patch lets Relationship objects return `Neo4jRelationship` as internal_type. Tastypie uses `get_internal_type` to figure out how to handle objects, and the default for unknown types is `CharField`: https://github.com/toastdriven/django-tastypie/blob/master/tastypie/resources.py#L1797

I'm not to sure about how they handle ForeignKeys though since

[2013-06-11 23:11] mhluongo commented on #184
@lutoma is this closed out, or should it stay open?

[2013-06-12 00:03] #184 closed, assigned to nobody

[2013-06-12 18:29] mhluongo opened #188 "Review how cascading model saves work"
Right now, it appears that if you save an unsaved model A, which has been related to an unsaved model B, everything is saved properly- but if you save A, and it's related to a saved (that is, with a node) model C with unsaved property changes, those changes aren't saved.

Is this inconsistent with Django? Cascading saves definitely need performance work, so maybe kill two birds with one stone.

[2013-06-13 01:13] mhluongo opened #189 "Model.save(update_fields=[...]) support"
Eg https://docs.djangoproject.com/en/1.5/ref/models/instances/#specifying-which-fields-to-save

[2013-06-13 20:35] mhluongo commented on #188
I'm pretty sure Django doesn't do cascading saves at all, by default- and to achieve something similar you'd open a transaction, and then manually save each model involved.

[2013-06-13 20:35] mhluongo opened #190 "Models can override eachother's reverse relationships"
For example,

[code]

Now, explore a bit

[code]

You'll see it's SubPerson2. This is a problem, because the only friends a regular Person instance will have when you call `person.friends.all()` will be SubPerson2 instances.

[2013-06-15 18:07] szabi opened #192 "get(key=value) works on some properties, but not on others..."
See description at:
http://stackoverflow.com/questions/17126274/objects-get-does-not-work-as-expected

basically, having three **identical** `models.StrongProperty()` on a NodeModel subclass, `.get(key=value)` (but the same with `.filter(...)`) works for two of them, but not the third, and I have no idea why.

Contrary to the StackOverflow example I have changed by now the last property to `requir

[2013-06-15 19:46] #190 closed, assigned to nobody

[2013-06-16 21:16] mhluongo opened #193 "The 'isnull' lookup doesn't work when set to False, though it works using .exclude()"

[2013-06-18 08:28] tonjo opened #194 "RelationshipInstance.get_or_create()"
Creating a related model with a get_or_create() on relationships.
Example (by Matt himself):

pete = patrick.friends.get_or_create(name='Pete')

Create a new person "Pete" and connect to patrick.

[2013-06-18 09:56] tonjo commented on #194
I should have specified, create a new Person or find one if exists.

[2013-06-18 22:22] mhluongo commented on #194
Thanks for raising this @tonjo, I'm going to try to get it in this coming release.

[2013-06-18 22:23] mhluongo opened #195 "RelationshipInstance.create()"

[2013-06-21 10:41] tonjo opened #196 "NodeModelManager.get_or_create() fails when european characters are involved"
Storing names like "Città" in Neo4j gives error
UnicodeDecodeError: 'ascii' codec can't decode byte 0xc3 in position 4: ordinal not in range(128)

So I decode the string as utf8 and everything seems good:

True: is created.
If I try again:

True, created again

using decode with standard characters gives no problems:

[2013-06-21 21:20] mhluongo opened #197 "FloatProperty and FloatArrayProperty"
Neo4j supports floats. So should neo4django.

[2013-07-09 10:29] tonjo opened #199 "Relationships .remove not working because of LazyNode"
Relationship .remove works ONLY when related node is just created, not when recalling a previously defined one. (That's why unit test don't fail)

I consider it a crucial issue.

Inside the remove method, the problem is rels_by_node[obj.node] returns []
because when the node "obj" is recalled through get or get_or_create,
obj.node is a neo4jrestclient.client.LazyNode, not a neo4jrestclient.client.

[2013-07-09 14:51] pirhoo opened #200 "Failed to querying Neo4J"
Hi guys,

I failed systemically to querying Neo4J using the models done with neo4django. The following code returns an error 400 (from java?) :

``` python```
pete = Person.objects.create(name='Pete', age=30)
pete.save()
[code]
Invalid data sent: javax.script.ScriptException: java.lang.NullPointerException: Cannot invoke method removeProperty() on null object
[code]

[2013-07-09 16:01] pirhoo commented on #200
My bad, I was using Neo4J **1.9** ! Cheers !

[2013-07-09 16:01] #200 closed, assigned to nobody

[2013-07-10 16:57] tonjo opened #201 "Creating a node with .objects.create(id=SOME_ID) overwrite existing node"
I don't actually see a reason for creating a Node giving the id,
but definitely it shouldn't overwrite the node.
It's not a real substitution, the previous relationships are still there,
but if the new node is from another class the result is very strange.
(I have a Person with the characteristics of a Shop, for example).

[2013-07-10 17:02] mhluongo commented on #200
Thanks! And for the record, you don't need jpype, since everything is over REST.

[2013-07-10 17:03] mhluongo commented on #201
Oh, that is a very strange case. `objects.create(id=<SOME ID>)` _should_ throw an error, since you can never manually specify a node id in Neo4j. It will need to be a special case.

[2013-07-10 17:06] mhluongo commented on #199
Good catch. `neo4django.db.models.script_utils.LazyNode` is a subclass of neo4jrestclient's `Node` that only pulls data from its initial representation, instead of every time a property is read. I'll try to look into this soon.

[2013-07-10 17:13] pirhoo commented on #200
Understood. Thanks!

[2013-07-12 19:07] mhluongo opened #202 "Node.relationship.get(id=<some_id>) doesn't work."
... probably because of the special-casing of "id" in `NodeQuerySet`.

[2013-07-15 16:28] mhluongo commented on #193
The test suite seems to disagree- I can't replicate this.

[2013-07-15 16:28] #193 closed, assigned to nobody

[2013-07-15 17:15] #201 closed, assigned to nobody

[2013-07-15 17:15] #202 closed, assigned to nobody

[2013-07-15 17:33] mhluongo commented on #195
Ah, this is actually already implemented.

[2013-07-15 17:33] #195 closed, assigned to nobody

[2013-07-16 16:46] #146 closed, assigned to nobody

[2013-07-24 11:14] pirhoo commented on #184
Hi guys,

neo4django works just fine with Tastypie, thanks for what you already done! I just met an issue with complex filters (such as `contains`, `startswith`, etc) that throw me this exception :

I'm not a Tastypie expert but I tried to query neo4j with `MyModel.objects.filter(name__contains='test')` and it worked...

Any idea?

All the best!

[2013-07-25 16:24] mhluongo commented on #184
@Pirhoo I'm not a Tastypie expert either :) - any chance you could post code to replicate this? @lutoma might have some thoughts as well.

[2013-07-25 16:28] mhluongo commented on #21
This is much easier now that queries are primarily executed as Cypher.

[2013-07-25 16:47] pirhoo commented on #184
Sure :)

My model:

[code]

Its resource:

[code]

The CURL request, **GET** method to http://d:8000/api/v1/organization/?name__contains=ABZV :

[code]

Cheers!

[2013-07-26 18:05] mhluongo commented on #143
For anyone interested in getting this closed faster- I've started a campaign to fund the completion of this release, including 1.5+ support. Check it out at https://www.bountysource.com/fundraisers/423-neo4django-0-1-9

[2013-07-26 18:07] mhluongo commented on #149
Folks- I've started a campaign to fund the completion of this release, including [1.5+ support](https://github.com/scholrly/neo4django/issues/143). Check it out at https://www.bountysource.com/fundraisers/423-neo4django-0-1-9

[2013-07-26 18:08] mhluongo commented on #156
Folks- I've started a campaign to fund the completion of this release, including [Django 1.5+ support](https://github.com/scholrly/neo4django/issues/143). Check it out at https://www.bountysource.com/fundraisers/423-neo4django-0-1-9

[2013-07-26 18:09] mhluongo commented on #194
I've started a campaign to fund the completion of this release, including this issue and [Django 1.5+ support](https://github.com/scholrly/neo4django/issues/143). Check it out at https://www.bountysource.com/fundraisers/423-neo4django-0-1-9 if you're interested.

[2013-07-27 01:49] pqn commented on #143
If I use neo4django right now with Django 1.5.1, what are the incompatibility issues that arise? Is it still usable in some aspects?

[2013-07-27 02:03] mhluongo commented on #143
Auth and admin almost certainly won't work, and there's no Python 3 support. I'm not sure beyond that- since we don't have 1.5+ specific tests, I can't say. Anecdotally I know some folks are trying it against 1.5, but I haven't heard back. If you do run it with 1.5.1 I'd love to know any issues you run into.

[2013-08-01 16:26] pirhoo commented on #199
Any news about this ?

Cheers

[2013-08-01 16:40] tonjo commented on #199
Hi, I Just came back, I hope in a few days I will have some time.
Thanks for the patience.
Il giorno 01/ago/2013 18:31, "Pierre Romera" notifications@github.com ha
scritto:

[2013-08-06 13:10] tonjo commented on #195
Uhm, actually, having the relationship friends, if I do
bill.friends.create(name='jim')
it will create a Person named jim, but NOT related to bill
(not as a bill's friend).

[2013-08-06 15:09] mhluongo commented on #195
@tonjo thanks, I'll check the tests for this tonight.

[2013-08-07 14:59] #199 closed, assigned to nobody

[2013-08-25 00:52] rthuffman commented on #197
With an extension like neo4j-spatial installed, DecimalProperty and (especially) DecimalArrayProperty would be wonderful as well.

[2013-08-25 11:07] rthuffman commented on #197
I just learned through much reading and experimenting that Decimal actually slows you down in calculations for little or no gain in precision (meaning FloatProperty/FloatArrayProperty would be wonderful to have).

[2013-08-25 11:09] rthuffman commented on #143
The bountysource campaign has closed, is there any other way to contribute?

[2013-08-25 17:40] mhluongo commented on #143
Absolutely- I have a Gittip account as well that funds neo4django dev- https://www.gittip.com/mhluongo/ . Thanks for thinking to support the project!

[2013-09-06 00:34] ccverg commented on #143
@rthuffman you can also crowdfund bounties on specific issues :) https://www.bountysource.com/trackers/207361-scholrly-neo4django

[2013-09-12 17:16] tonjo opened #206 "Relationships .remove not working on related side"
Consider the case:

[code]

Ok if we do

[code]

But it will fail if:

[code]

ERROR:
DoesNotExist: <User: 24095: Daddy> is not related to <User: 24096: Junior>.

[2013-09-13 08:15] tonjo commented on #206
Could it be an intended behaviour?

[2013-09-13 11:04] tonjo opened #207 "n=MyNode(id=someID) and n.save() overwrite existing node"
Weird behaviours:
Suppose we have model GenericPerson with name attribute and
Man(GenericPerson), Woman(GenericPerson) 2 subclasses.

If I do
w=Woman(name='Amy')
w.save()

and after
m=Man(id=w.id)   # giving id (no reasons to do this)
actually it finds Amy (m.name=='Amy')
m.save()    # gender change without surgeon ;)

[2013-09-16 19:10] tonjo opened #208 "Neo4django authentication using email instead of username"
Lots of sites uses that one in these days...

[2013-09-17 01:27] mhluongo commented on #208
Indeed they do. Many web apps also use various forms of social auth.

That said, all neo4django aims to do is replicate Django's existing auth functionality (https://docs.djangoproject.com/en/1.4/topics/auth/)- which is currently based on a username. Fortunately there are _tons_ of tutorials out there on writing a custom auth backend; it could extend the one in `neo4django.auth`, or you could use

[2013-09-17 01:31] mhluongo commented on #207
Haha, interesting behavior! I have a feeling it also left the type tree in a weird state... flagging this as a bug.

[2013-09-17 01:38] mhluongo commented on #207
While this is a bug, a quick note - the intended behavior is that the model shouldn't be allowed to be created with a preset id at all, since Neo4j doesn't allow developer to decide node ids a priori.

[2013-09-17 01:40] mhluongo commented on #206
Hm, are you sure you don't have your examples reversed? The intended behavior is

[code]

... since the relationship is flagged as single.

[2013-09-17 06:50] tonjo commented on #208
Yes, I understand why is like that, and I know it's a simple task.
I was thinking some sort of a ready-to-use extension to that behaviour.

Using email as username does not break this requirement?
"30 characters or fewer. Alphanumeric characters only (letters, digits and underscores)."

[2013-09-17 07:04] tonjo commented on #206
Hmmm, sorry, maybe I was too tired.

[2013-09-17 07:04] #206 closed, assigned to nobody

[2013-09-17 07:08] tonjo commented on #207
Another weird thing is that sometimes (can't replicate always)
doing m=Man(id=w.id) it will "find" the node with that existing id.

Maybe this could help in debugging...

PS: I know there are no reasons to do that,
I was just trying to see what came out. A bug ;)

[2013-09-17 14:29] tonjo opened #210 "Inheritance problem with inherited attributes"
Consider the case:

[code]

I inherit from MyBaseModel:

[code]

And now:

[code]

Not checking base classes?

[2013-09-17 15:32] mhluongo commented on #207
I'll move this to the next milestone- it's definitely confusing behavior regardless :)

[2013-09-17 23:36] mhluongo commented on #208
Hm, maybe that does break the req- my mistake. Regardless, there are a few solutions to this.

Re: a ready-to-use component - that could definitely be added via a 3rd party app, but I'd rather not include it in the library. Once Django 1.5 support is complete, though, this can be handled by a custom user model.

[2013-09-17 23:36] #208 closed, assigned to nobody

[2013-09-18 18:55] tonjo commented on #210
Anyway it's ok when using:

[code]

[2013-09-22 19:05] tonjo opened #211 "Mixin multiple-inheritance errors with neo4django.auth.models.User"
EDIT: commented out wrong example and indented correctly

neo4django.auth.models.User "hides" attributes
when used in a multiple inheritance with a mixin.

[code]

EDIT: The error is on info field, which is in the derived class! It's "masked".
Note: inverting the inheritance order:

[code]

does not give that problem, but I think it's not a good practice.

Also, mixing mixins (forgive the pun) wit

[2013-09-23 03:25] mhluongo commented on #211
@tonjo I realize what you're trying to do, but Django fields and models were not meant to work the way you'd like them to. Multiple inheritance of a neo4django `NodeModel` and any class inheriting from a `Model`, _or_ a mixin with any defined fields (anything inheriting `django.db.models.fields.Field`, eg `Property`, `BooleanProperty`, ...) is not supported. If you read some of the Django source (

[2013-09-23 03:25] #211 closed, assigned to nobody

[2013-09-23 03:27] mhluongo commented on #211
@tonjo NB - I meant to mention a few issues ago- you can have GitHub indent your Python code properly following Markdown syntax. If you add 4 additional spaces before each line of code, it will be formatted as a code block and be much easier to read.

[2013-09-23 08:07] tonjo commented on #211
My mistake, I didn't want to include a Field in the metaclass,
that is not my point.
I understood what you teached me also on StackOverflow,
but here I have another problem, in the derived class User, its own fields are masked.
I want to insist with the following (forgive me for forgetting Markdown):

[code]

and the User as above:

[code]

User's info field should not "disappear", am I wrong?
Ind

[2013-09-26 11:02] tonjo opened #212 "neo4django.auth.models.User error"
When sublasssing User from neo4django.auth.models I got this error
launching runserver:

[code]

while myuser is defined as follows:

[code]

Has inheritance from neo4django.auth.models been tested by someone?
(in the test suite only the simple authentication is covered)

[2013-09-26 17:45] mhluongo commented on #212
This looks familiar- @tonjo is `neo4django.auth` in your `INSTALLED_APPS`?

[2013-09-26 18:22] tonjo commented on #212
Yes, it is.
Complete error seen launching `./manage.py runserver` .

[code]

[2013-09-28 08:48] aladagemre commented on #143
any news on this?

[2013-09-28 13:20] mhluongo commented on #143
I'll be sprinting on this next week at the Neo4j office- I should have an update by Thursday. This is at the top of my list.

If you have any spare cycles, I could use someone testing against Django 1.5+- user-swappable models and aspects of the admin might not work, but it would be really helpful to know if anything else crops up. @pqn sounded interested but I haven't heard back.

[2013-09-29 16:52] pqn commented on #143
I have college apps at the moment, but if time crops up I'll let you know. ;)

[2013-09-30 07:24] tonjo commented on #143
For now I can say a simple

[code]

gives:

[code]

But Activity is not abstract.

[2013-10-01 13:09] tonjo opened #213 "NodeModelManager.exclude not implemented"
Are there no plans to implement it?
On a NodeQuerySet it is working because it belongs to the "father Django", I suppose.

Sorry if it's not a real issue.

[code]

[2013-10-01 13:13] mhluongo commented on #213
Great idea. It should be quick work.
On Oct 1, 2013 9:10 AM, "tonjo" notifications@github.com wrote:

[2013-10-01 13:38] tonjo commented on #213
Anyway the quickest way without it is:

[code]

since objects.all() is a queryset.

[2013-10-02 22:18] mhluongo commented on #143
A quick update: the entire test suite passes on my machine with Django 1.5.4. I'm working on swappable user models now. After that, I could really use some testers :)

@tonjo I can't replicate the issue you're having... could you `pip freeze` in your venv and share the output?

[2013-10-02 22:32] tonjo commented on #143
In github I see there is still

[code]

while the failing test was on

[code]

Anyway, my pip freeze:

[code]

[2013-10-02 22:35] mhluongo commented on #143
@tonjo So- you aren't testing against Django 1.5? When did you have the "Activity is abstract" error? I realize you have another test you're having trouble with, but that's a different issue (this is about Django 1.5 support).

[2013-10-02 22:39] tonjo commented on #143
Yes, sorry, wrong issue I'm talking about.
s/1.4.8/1.5.4/g

I got back to 1.4.8 or I couldn't go on,
the failing 1.5 test has exactly the same environment but with Django 1.5.4.
Sorry again, in Italy it's half past midnight ;)

[2013-10-02 22:47] mhluongo commented on #143
Heh I understand. I just replicated the other issue, but I'm not seeing any against 1.5 :)

[2013-10-02 22:58] mhluongo opened #214 "Indexed properties aren't always properly queried across relationships"
As evidenced by the tests added (and adjusted) in https://github.com/scholrly/neo4django/pull/205 and https://github.com/scholrly/neo4django/pull/209.

[2013-10-02 23:02] tonjo commented on #143
Reinstalled now all the enviroment but I got the same "Activity is abstract" error.
Question: Are `#egg=neo4django` and `#egg=neo4django-dev` the same package?

[2013-10-02 23:13] mhluongo commented on #143
re: the "egg" command line argument - They _are_ the same package- the distinction has to do with the versioning within the environment, not the source package version.

Hm, I can't replicate the "abstract" error at all. What happens when you run the test suite (`export DJANGO_SETTINGS_MODULE=neo4django.tests.test_settings; nosetests --with-regression neo4django/tests/`)? Travis has no regressions

[2013-10-03 16:59] tonjo commented on #143
I'm happy to say it was not an environment's issue, but my fault.
I left an `abstract=True` on a mixin which derived from object, giving all the children the abstract status.
Seems good now for me, I still have some issues, but not related to 1.5.4 I'm using now.

[2013-10-03 17:02] mhluongo commented on #143
_shwew_, excellent!

Everyone please feel free to use Django 1.5 with HEAD. I'm still working on swappable `User` support (and need to further test the admin site), but the bulk of the library works with 1.5.

[2013-10-03 17:10] tonjo commented on #143
Now I'm wondering why I didn't have the same errors with 1.4.8, some behavior changes?

Note:

[code]

[2013-10-03 17:22] mhluongo commented on #143
Yeah, I'm familiar with that deprecation warning- it should probably be raised as an issue, though it's not high priority.

[2013-10-09 19:45] tonjo commented on #212
With 1.5+ I don't have this issue anymore.

[2013-10-09 19:45] #212 closed, assigned to nobody

[2013-10-12 14:26] tonjo opened #219 "Chaining filter problems"
See pull request #218

[2013-10-12 14:29] tonjo commented on #219
I Forgot pull requests are shown as issue too

[2013-10-12 14:29] #219 closed, assigned to nobody

[2013-10-14 15:55] tonjo commented on #210
I don't know if it helps, but debugging `django.db.models.base.Model.__init__`,
which is called when calling .create on NodeModelManager, because of super,
we can see `self._meta.fields` does _not_ contain any of the superclass field,
causing the error in line 415 of `django/db/models/base.py`.
In the above example it was probably Django 1.4, that's why it says line 367.

Will it help?

[2013-10-23 15:11] pirhoo opened #222 "Migrate from neo_auth to graph_auth"
Hello,

I'm trying to migrate a database that was using the old **User** model (with _neo_auth_ app label). I took care to update the model definition directly into neo4j by changing the _app_label_ and _name_ as follows:

![capture du 2013-10-23 17 03 37](https://f.cloud.github.com/assets/471176/1390881/5d684bca-3bf4-11e3-8823-1d8e16c5f91e.png)

When I try to get the list with _User.objects.all()

[2013-10-23 15:22] tonjo commented on #222
When you change a model is a pain. Sometimes adding a single field in the model definition
will cause things like yours. Try recreating the model with `create`, copying fields from the old one.
Sometimes I had to destroy and recreate the reference node, starting with a clean db
(in early developement stage).

PS: Did you see my pull request #217 that will fix the wrong model? I don't think it's re

[2013-10-23 15:34] pirhoo commented on #222
Thanks for the quick anwser @tonjo !
Your pull request isn't related to my problem but I also noticed that issue :) Otherwise, I'm gonna try what you suggest.

[2013-10-23 15:54] mhluongo commented on #222
@Pirhoo, @tonjo's advice is good. Since indexing is done via the library- not auto-indexes- you have to go through the library to properly migrate. When Neo4j 2.0 is released this will be fixed with schema indexes.

Let us know how it goes! I'd love to share any resulting code in the migrations section of the docs.

[2013-10-23 16:04] pirhoo commented on #222
@mhluongo if the problem may come from the indexes, is there a way to reset a specified index manually?

[2013-10-23 16:15] mhluongo commented on #222
Definitely. Basically, you could either rename the old index or reindex its contents. The library indexes using Groovy- the relevant bits are in library.groovy, around https://github.com/scholrly/neo4django/blob/master/neo4django/gremlin/library.groovy#L186. The easiest way to force a reindex might be something like

[code]

Renaming the index might also work, but since I can't test right now I th

[2013-10-23 16:27] pirhoo commented on #222
Now I can get an user and login: thanks to your tips to reindex!
I'm going to write a Django Command to force reindex, I will post a gist here if you are interested.

Thanks!

[2013-10-23 16:27] #222 closed, assigned to nobody

[2013-10-23 16:29] mhluongo commented on #222
Glad we could help.

re: the command - yes please!

##

Matt Luongo
Software Developer
about.me/luongo

On Wed, Oct 23, 2013 at 12:27 PM, Pierre Romera notifications@github.comwrote:

[2013-10-23 16:51] pirhoo commented on #222
Hi again! Here is the command: https://gist.github.com/Pirhoo/7122246

[2013-10-24 10:15] pirhoo opened #223 "Lazy behaviour when parallel requests"
Hi,

I have a curious behaviour that I still can't explain after 2 days of investigation. When I execute several queries with neo4django at the same time (or very close), the process gets lazy and the request never ends (probably because the previous one is not done).

I got this bug with neo4j 1.8.2 and 1.9.1, and Django 1.4.4 and 1.5.4. I can't give more detail because the only way to provoke th

[2013-10-25 21:18] mhluongo commented on #223
Hm, there is some transactional logic related to the in-graph type tree- maybe that's involved? What sort of requests are they, read or write?

[2013-10-25 21:32] pirhoo commented on #223
Mainly read and without any particular conditions: I succeed to reproduce this bug with a simple _User.objects.all()_ (among 20 nodes).

[2013-10-25 21:37] mhluongo commented on #223
Hm, that's no good. Is it using the dev server or in production? If it were reproducible using, say, the requests library and threads, that'd be easier to test & fix.

[2013-10-25 21:56] pirhoo commented on #223
Interesting: it seems that the bug doesn't happen in production (on heroku).

[2013-10-25 22:03] mhluongo commented on #223
Aha! Good, I was worried. It might be because the Django dev server is
threaded, while production is usually process-based. To test that I believe
there's a '--nothreading' (or similarly named) argument to `runserver`.
Maybe give that a shot? Regardless this sounds like a bug, but we'll see
whether it's a big or little one.
On Oct 25, 2013 5:56 PM, "Pierre Romera" notifications@github.com wrote:

[2013-10-25 22:07] pirhoo commented on #223
OK, that sounds reassuring. I'm trying what you propose.

[2013-10-25 22:13] tonjo commented on #223
Hmm, and threading would worsen performance?
 Il 26/ott/2013 00:07 "Pierre Romera" notifications@github.com ha scritto:

[2013-10-25 22:19] pirhoo commented on #223
Ha! Good news: the [--nothreading](https://docs.djangoproject.com/en/dev/ref/django-admin/#django-admin-option---nothreading) option fix it, thanks!

I don't think we can consider this issue as solved so I let you decide if we should close it.

[2013-10-25 22:21] mhluongo commented on #223
No, I'll leave it open. It's going to be fun to debug :)
On Oct 25, 2013 6:19 PM, "Pierre Romera" notifications@github.com wrote:

[2013-10-25 22:23] pirhoo commented on #223
OK, you're the boss. Thanks again, you saved my weekend!

[2013-10-28 22:19] nikolasd opened #224 "Error [401]: Unauthorized. No permission -- see authorization schemes. Authorization Required"
It seems that when you need authorization to access the neo4j you get the following error.
I guest the error is happening because the user credentials are not passed when connecting to db.
I did a small hack to bypass this error by changing line 495 of neo4django.utils from `conn = Client('http://%s:%d/db/data' % (db['HOST'], db['PORT']), **db['OPTIONS'])` to `conn = Client('http://%s:%d/db/data'

[2013-11-05 12:00] tonjo opened #225 "StringProperty errors in ModelForm"
I have a very simple ModelForm subclass:

[code]

When I try to save the form in my view (only the post function here):

[code]

I got this error:

[code]

Tested with _regular_ non-neo4django models and everything is fine.

Asked also a [stackoverflow question](http://stackoverflow.com/q/19773009/2783654).

[2013-11-05 20:48] tonjo commented on #225
As a workaround, I had to implement some kind of ModelForm myself.
Too hard for me to determine where the error is.

[2013-11-05 21:02] nikolasd commented on #184
Has anyone accomplished to make a fully working tastypie/neo4django resource/model with full CRUD operations?

[2013-11-06 09:21] pirhoo commented on #184
Yes but I had to use my own ModelResource class to patch some bugs:
https://github.com/jplusplus/detective.io/blob/master/app/detective/individual.py

[2013-11-06 15:19] mhluongo commented on #143
I'm closing this issue- it's been a month since swappable user model support and it looks like the minor issues have been ironed out.

[2013-11-06 15:22] tonjo commented on #143
I don't agree ;)
Aren't you forgetting pull request #217 ?
Without it, wrong User model is returned...

[2013-11-06 15:24] mhluongo commented on #143
Absolutely right @tonjo, merging it in.

[2013-11-06 15:41] mhluongo commented on #224
@nikolasd we've had auth support for a while- why not just set 'username' and 'password' in the 'OPTIONS' dict in settings, as intended? That's why the `**db['OPTIONS']` bit is there.

Maybe you could help improve the docs?

[2013-11-06 15:41] #224 closed, assigned to nobody

[2013-11-07 18:05] mhluongo commented on #143
Taken care of. Anyone else have objections to closing this / outstanding issues with 1.5?

[2013-11-10 16:50] #143 closed, assigned to nobody

[2013-11-16 14:04] ikresoft opened #226 "Admin interface problem"
When I want to turn on admin in django like in neo4django docs I get this error:
admin.logentry: Reverse query name for field 'user' clashes with field 'User.logentry'. Add a related_name argument to the definition for 'user'.

I am using django 1.5.4 and neo4j 1.9.5.

[2013-11-18 02:05] mhluongo commented on #226
Are you setting a custom user model?

[2013-11-18 22:54] ikresoft commented on #226
Yes.

[2013-12-11 15:11] coffenbacher commented on #1
Hey @mhluongo , thanks for your work on Neo4django, it is really great. Has there been any progress on this one? It is critical for my data model :) For now, I will workaround using NodeModel. Depending on how things go with my project, if there hasn't been any progress on this, I may take a shot at it.

[2013-12-12 12:20] mhluongo commented on #1
@coffenbacher I've struggled to find time for this one, especially since it's planned for the next milestone, and I still have a [ways to go on 0.1.9](https://github.com/scholrly/neo4django/issues?milestone=2&state=open). I'm definitely open to a contribution. That said, the metaclass stuff is a bit sticky, so I'd be happy to help if you made some progress.

[2013-12-13 06:14] coffenbacher opened #228 "'super' object has no attribute 'save_form_data'"
When validating or saving a ModelForm with single=True in a relationship, the form fails

Error:
![image](https://f.cloud.github.com/assets/245867/1740174/4cac1a96-63bd-11e3-9241-2781ed9a974a.png)

Stack trace and vars:
![image](https://f.cloud.github.com/assets/245867/1740181/94eef800-63bd-11e3-8a70-05082fb0b9e7.png)

Model definition:
![image](https://f.cloud.github.com/assets/245867/1740187/b90

[2013-12-13 06:37] coffenbacher opened #230 "__eq__ method for NodeModel is broken"
Two issues here:

[code]

![image](https://f.cloud.github.com/assets/245867/1740281/d7673b72-63c0-11e3-9a78-993ad2832e6f.png)

[code]

![image](https://f.cloud.github.com/assets/245867/1740253/52b29534-63c0-11e3-90b6-1690ae5011d3.png)

[2013-12-30 03:57] mhluongo commented on #228
@coffenbacher sorry I've taken so long to respond to these! I'm looking into your pull request now.

[2013-12-30 07:27] mhluongo opened #232 "Negative integers aren't indexed properly"
Positive integers are simply indexed as zero-filled strings, but negative flip the leading '0' to a '-'. While this makes all negatives less than all positives, it leads to misbehavior on querying a range of negative values on an indexed integer property.

A better scheme might be to simply index the integers as 1's complement with a base64 encoding, ensuring order and a more compact representatio

[2013-12-30 14:12] #230 closed, assigned to nobody

[2014-01-15 03:01] acriptis opened #233 "StatusException rised on Administrator's page of neo4j model"
I try to investigate advantages of neo4j database for django project with neo4django (I used `sudo pip install -e git+https://github.com/scholrly/neo4django#egg=neo4django-dev
` for installing it). I installed neo4j server version: "2.0.0".

But when I try to launch administrator page of simple node4j model I catch Exception:

[code]

I've found @lukeorland 's [message](https://github.com/scholrly

[2014-01-15 04:28] mhluongo commented on #233
@acriptis the library is currently only tested against 1.8.2 - 1.9.5. I'm working on supporting 2.0, but unfortunately it's a ways off.

Aside- I noticed you used `sudo pip install` instead of just `pip install`\- are you using virtualenv, or system-wide packages? I can't recommend virtualenv enough.

[2014-01-15 04:34] acriptis commented on #233
Thank you, @mhluongo , for reply. I'll try 1.9.5 today.

I used `sudo pip install` to make system-wide installation as far as I don't like to use virtualenv on home server :-)

[2014-01-15 04:34] #233 closed, assigned to nobody

[2014-01-17 20:26] skyleronken commented on #226
Any resolution on this issue?

[2014-01-18 09:18] skyleronken commented on #184
Mind outlining what specifically had to be changed/overridden to make everything play nice?

[2014-01-18 18:12] mhluongo commented on #184
:+1: I think a blog post would really help here. @Pirhoo, @lutoma or anyone else using tastypie + neo4django already, would one of you be interested? We could also add a tastypie section to the docs.

[2014-01-18 18:15] mhluongo commented on #226
@skyleronken are you seeing this as well? I wasn't able to replicate it, but if I had a minimal project showing the issue I could take a crack at it.

[2014-01-18 21:14] skyleronken commented on #226
Yeah, I have the same issue. The Error:

CommandError: One or more models did not validate:
admin.logentry: Reverse query name for field 'user' clashes with field 'User.logentry'. Add a related_name argument to the definition for 'user'.

Django 1.5.4, Repo pull of neo4django

Admin related code is as follows:

https://gist.github.com/skyleronken/8496526

Let me know if more is needed.

[2014-01-20 14:35] pirhoo commented on #184
Hi guys,

As suggested by @skyleronken) by email, I'll be happy to create a generic _ModelRessource_ class that you could use ! In my case, the _IndividualRessource_ I created is very particular : it allows us to create an API on-the-fly and generate relationships fields automatically. It not perfect but it works.

For writing data, the magic intervenes firstly into the _hydrate_m2m_ method :
http

[2014-01-20 14:39] skyleronken commented on #184
Looking forward to @Pirhoo's post.

In the mean time, I stumbled upon the cause of my issue. I kept getting this error when trying to read data from some of my resources:

'RelationshipInstance' object has no attribute 'pk'

I discovered the issue was related to using a ToOneField in my Tastypie ModelResource definition. Once I changed it to ToManyField I no longer had the problem. Although this i

[2014-01-20 14:45] pirhoo commented on #184
If the cardinality is painless, a solution could be to register the field as ToManyField in tastypie, then hydate the field to ensure that it has only one relationship.

http://django-tastypie.readthedocs.org/en/latest/resources.html#hydrate-foo

[2014-01-22 22:22] tonjo opened #235 "EDIT: icontains case not covered when dealing with StringArrayProperties"
Row 353 in `query.py`:

[code]

_EDIT:_
The icontains check should cover the `StringArrayProperty` case.

Temporary workaround is quite easy: search the `.lower()` version of the string,
provided the `StringArray` contains lowercase strings.

[2014-01-29 19:08] skyleronken commented on #226
I managed to get this error to go away by editing the following line in admin/models.py:

class LogEntry(models.NodeModel):
    ...
    user = models.Relationship(User, rel_type='completed_by',related_name='completed_by', single=True)
    ...

Not sure if that truly fixes anything, but the error is gone and im on to working on another one that does not seem to be related :)

[2014-01-29 20:13] torbjoernk opened #236 "Python 3.x incompatibility"
It should be stated somewhere, that neo4django is not compatible with Python 3.x.

I had to learn it the hard way, while getting import exceptions in `neo4jclient.py` [1] and finally I gave up on `rest_utils.py` [2].

Are you planning or working on Python 3.x support? I'm not sure, whether I can help porting it.

1:

[code]

Should be imported as `from urllib.parse import urlparse`.

2:

[code]

`

[2014-01-29 20:17] mhluongo commented on #236
@torbjoernk I would love Python 3 support, but I'm struggling to keep up with Django and Neo4j right now. I'd definitely appreciate the contribution if you did have some time.

[2014-01-30 19:27] PierreVaillat opened #237 "AttributeError : 'Person' object has no attribute 'select_related'"
Hi,

First of all, implementing neo4j with the Django framework is a great initiative. Bravo !

Unfortunately, I have tried to replicate your example and am experiencing some difficulties while trying to fetch the related objects.

jack = Person.objects.get(name='jack')
jack.select_related()
AttributeError : 'Person' object has no attribute 'select_related'

When examining the source, I realized t

[2014-02-11 13:43] meatballs commented on #226
I've tried using neo4django for the first time today and hit this problem.

Using virtualenv, I installed neo4django (from the github repo rather than 0.1.8) and it then downloaded django 1.5.5

I created one app with a very simple model and the followed the instructions on the docs to get the admin interface working.

I've pushed my work so far to https://github.com/meatballs/django_neo4j

[2014-02-12 09:16] meatballs commented on #226
skyleronken's solution worked for me too. I'll create a pull request for this issue

[2014-02-13 13:10] tonjo commented on #207
It "was" a django issue, not neo4django's.
Trying the same with a `django.db.models.Model` give the same result.
But I'm using django 1.5, I don't know if they corrected in earlier versions.

[2014-02-13 13:10] #207 closed, assigned to nobody

[2014-02-15 16:36] meatballs commented on #224
Sorry if I'm being a bit dumb, but how is this supposed to be done?

I've tried adding

[code]

to the NEO4J_DATABASES dictionary, but I get:

[code]

[2014-02-16 21:38] mhluongo commented on #235
@tonjo when there's no index, this can be solved pretty easily in Cypher. Maybe `icontains` against an array property should always go straight to the Cypher case, instead of trying to be clever with index usage?

[2014-02-16 21:44] mhluongo opened #239 "Accept upper or lower case auth arguments in OPTIONS"
See the issues that came up http://stackoverflow.com/questions/21812824/using-neo4django-with-graphenedb/21815988?noredirect=1#comment33016586_21815988 . Django custom is typically to use all-caps for settings like this, so accept both.

Refs #224.

[2014-02-18 12:00] tonjo commented on #235
Not sure I understood this.  Are you suggesting to solve it directly with a Cypher query?
Besides, field is indexed, and as workaround I'm cycling through the StringArray.

[2014-02-24 13:44] meatballs opened #240 "Model Inheritance and Admin Interface"
I have a problem with inheritance and the admin interface. Using the following simple inheritance structure, the 'name' field does not appear in the admin screens.

Using the same structure with django.db instead of neo4djang.db works fine.

Moving the name field into the Child class also works fine.

This is on django 1.5.5 and the github repo version of neo4django.

models.py:

[code]

admin.py:

[2014-02-25 00:28] atomos opened #241 "Neo4j 2.0"
Hi,

I'm just starting out using Neo4j and I'd like to use 2.0 (I have 2.0.1 community installed). I see that neo4django was only tested against neo4j 1.8.2-1.9.4, but have people gotten it working with 2.x? I installed the gremlin plugin but can't create or query through neo4django.

create:

[code]

query:

[code]

My model is incredibly complex:

[code]

[2014-02-25 10:38] meatballs commented on #240
This issue was originally a question on Stackoverflow: http://stackoverflow.com/questions/21909589/using-abstract-base-class-in-django-admin-interface-with-neo4django/21910481

[2014-03-02 10:45] stephenmuss commented on #1
Would love to see this in neo4django. Unfortunately I'm not at a point where I could contribute towards it, but it seems like this could be extremely valuable to a number of people.

[2014-03-02 10:48] stephenmuss commented on #239
I came across this myself when trying to get going with graphendb. However, digging into the source was enough to work out what I needed to do.

To be honest, simply documenting OPTIONS in the docs would be enough. If it were clear to people what was happening here the wouldn't really be a problem.

[2014-03-06 17:11] tonjo commented on #213
Is it difficult to implement? Hints?

[2014-03-06 20:13] tonjo opened #242 "Several .filter problems"
Seems like `.filter` is broken.
On relationship and on models, there are so many issues.
We should re-open issue #219, because #234 didn't resolve all the problems.
Sometimes it will simply not work, sometimes it will raise gremlin-related exception.
I Have:

[code]

Being `evstart` and `evend` two `datetime` fields, and `events` a relationship to a `Event` model, this simple chain on a relationsh

[2014-04-17 10:54] mlent commented on #241
I'm also trying to upgrade to Neo4j 2. Now that the Gremlin plugin is installed, I get the same error that you end up with (from the API):

[code]

Namely:
**RuntimeError: ('The type node for class Word could not be created in the database.', StatusException()**

Have you made any progress on this?

[2014-04-17 11:16] mlent commented on #184
@Pirhoo, If you are still having issues with the 'contains' relationships, take a look at the modification we've made to Tastypie itself to deal with this issue:

https://github.com/mlent/django-tastypie/commit/9ce920d2acca06c52bcd7bc759f78190ba317ba4

For us, it solved the problem of passing in __contains and __endswith filters. For example, a query such as follows works:

http://localhost:8000/a

[2014-04-17 11:59] atomos commented on #241
Sorry, I gave up on neo4django. I don't remember seeing that error.

[2014-04-17 12:48] pirhoo commented on #184
@mlent great, thanks! Do you plan to pull-request it to Tastypie or is it too specific to neo4django ?

[2014-04-17 12:52] mlent commented on #184
@Pirhoo From the looks of it, Tastypie has almost 200 open pull requests, so I don't know if there's any point. I hadn't planned to make a pull request, because I haven't/won't bother testing whether it works outside neo4django.

[2014-04-17 12:59] pirhoo commented on #184
@mlent agree.

As I said before, I overloaded  the ModelResource class:
https://github.com/jplusplus/detective.io/blob/master/app/detective/individual.py#L76

It might be good to put your patch in a sub-class instead of changing Tastypie directly, don't you think?

[2014-04-21 15:16] mlent commented on #184
@Pirhoo Yeah, probably makes sense. We're going to cut the neo4django dependency though, as it appears that using it is causing our queries to take an extraordinarily long time for some reason, particularly when paired with Tastypie. I'm not responsible for the back end of this project though, so I can't say why this is the case exactly.

[2014-04-28 00:34] heiho1 commented on #1
I also would love to see this.  I have some time on weekends to look into this.  Has any work been done towards supporting this feature?

[2014-04-28 00:51] coffenbacher commented on #1
Not from me unfortunately, although I may end up with a good situation in the next few months to work on this. Keep us updated if you try it! Good luck!

[2014-05-13 08:01] NataliaKo opened #245 "Queries on certain relationships return empty"
0 down vote favorite

I am completely confused trying to query related nodes. In my models.py I have:

[code]

I have created some nodes and relationships.

In this case I can successfully view pet-node, related to Pete. Then I created a node for London, where Pete lives, and I want to express the fact that London has Pete as inhabitant:

Then I try to list what I have just added, and total fail!

[2014-05-23 14:56] pirhoo opened #247 "clear() method on reverse relationship is not working"
Hi,

taking the same exemple than the doc:

[code]

The last line throws an exception (from `neo4django.db.models.relationships` line 745):

[code]

I inspected the `RelationshipInstance` object and it seems that the `self._added` is an empty list (even if `pete.pets.all()` has values).

Any clue?

Best!

[2014-06-02 14:52] 0xmtn commented on #145
Hello @mhluongo. I have the same problem as @lukeorland. Executing .all() in django shell returns:
RuntimeError: ('The type node for class Person could not be created in the database.', StatusException())

$DJANGO_SETTINGS_MODULE is set to nothing. My Neo4j version is 1.8.3. How can I solve this problem?

P.S: Approximately when will the neo4j-2.1.1 compatible neo4django be released? After using 2

[2014-06-05 08:49] vladimirnani opened #248 "'super' object has no attribute 'column'"
I am following [admin tutorial](https://neo4django.readthedocs.org/en/latest/admin.html)

[code]

and get this error when trying to add superuser:

[code]

[2014-06-05 19:11] #247 closed, assigned to nobody

[2014-06-06 03:59] techdragon commented on #180
I'm currently trying to get neo4django to support neo4j 2.x (and then hopefully django 1.7 support)
I'll probably issue a pull request for this unless someone else already has code changes they can share ?

[2014-06-06 04:02] techdragon commented on #241
I'll be working on getting some progress here, ill post any notes as i go.
I think it wont be too difficult since the library were using to talk to neo4j has been working on 2.0 for 6 months now. We may just need to use the ParserVersion feature to inform neo4j that were going to query it with 1.8 or 1.9 query semantics. (at least i hope its that easy lol)

[2014-06-08 18:26] mhluongo commented on #180
@techdragon please- I haven't had time to finish the upgrade to 2.x, so that would be great. Though I'm really interested to hear how you plan to tackle the query module- I'm skeptical Cypher has everything we need to completely remove Gremlin and remain performant (eg, ORs and indexes).

[2014-06-16 21:49] tapia opened #250 "get_FOO_display"
neo4django allows a `choices` parameter when defining a property. With the Django model properties you can use that to show the choice value ([documentation](https://docs.djangoproject.com/en/dev/ref/models/instances/#django.db.models.Model.get_FOO_display)), but, AFAIK, you can't do that with neo4django.

I mean something like this:

[code]

This way we can build an internacionalized template usi

[2014-06-16 21:51] tapia commented on #248
Are you using Django 1.6? neo4django isn't compatible with it yet.

[2014-07-01 12:01] techdragon commented on #180
@mhluongo not sure about the full feature set but between the changes needed to do things in gremlin and the changes needed to do things in cypher and all the changes made to the cypher syntax in the upgrade to 2.0 I'm fairly sure there will be a way

[2014-07-03 16:17] mhluongo commented on #145
@mtndesign unfortunately, I don't have the time to actively develop neo4django anymore- just occasionally patch and merge PRs. The jump to Neo4j 2.0 was too large for me to handle on my own.

That said, master on GitHub supports up to 1.9.4, so maybe that'll help. I'm also actively looking for a co-maintainer of the project if you know anyone who would be interested.

[2014-07-07 08:58] techdragon opened #252 "Post Django GSOC 2014 refactor"
As the GSOC projects continue, the refactoring of the Meta API for Django model objects is reaching the point where its quite likely that it is going to be merged and carried forward.

This is exciting for 2 reasons:
1. Its a very awesome new thing for Django
2. neo4django (and all the other nosql/newsql/etc ORM extentions/bypasses) can rewritten to use this new official API

In light of this, I'm

[2014-07-07 13:57] mhluongo commented on #252
That is exciting!

[2014-07-09 17:04] techdragon commented on #241
Ive got some progress on 2.0 and 2.1 in my fork here: https://github.com/techdragon/neo4django/commit/fac398b34477d781fe52d690e9208050f583fb8a

Ive been chipping away at the errors that caused the issues. After updating the neo4jrestclient library, adding detection code to catch when the version of neo4j is 2.0 or higher, and then creating a secondary groovy script to be called when we we are on 2

[2014-07-09 17:50] techdragon commented on #180
@mhluongo see my comments over in here https://github.com/scholrly/neo4django/issues/241#issuecomment-48503646, this gremlin/groovy/transaction stuff is breaking the test suite which makes it nigh impossible to be sure if my new code is fixing this issue. If we can unblock the that issue a little bit, and even get just a few of the tests passing, then i can issue a proper PR for this cypher powere

[2014-07-10 10:22] pirhoo commented on #1
Hi,

Any chance someone here built something to get through relationships work with Neo4django ?

[2014-07-10 15:18] mhluongo commented on #1
Unfortunately I've always just recommended people to add an intermediate node- I haven't seen any better solutions, and it'd take at least a weekend of work to hack something together I think. Anyone else?

[2014-07-10 15:25] mhluongo commented on #241
@techdragon thanks for your work so far! I've done some client work where I used a similar approach (Groovy + Gremlin + Cypher) against Neo4j 2.0+. I'll check if that's applicable.

Heh, yeah, that's the issue. It's actually pretty easy to just create a "reference node", and always use that by pulling from an index, instead of relying on the old node(0) business. I think that'd be the quickest fix

[2014-07-14 12:55] techdragon commented on #241
@mhluongo I'm keeping an eye on this quite closely as my current app progresses so hopefully some of that client work code proves fruitful.

From what I've been building so far, the type/label system is quite powerful and does make creating node types a lot more strait forward.

I'm holding back on starting work on the all cypher neo4django option at the moment for a couple of reasons, one of whic

[2014-07-17 09:47] pirhoo opened #253 "Query optimisation: where should I look for?"
Hi @mhluongo,

we encounter some slowness with Neo4django. According the access log I noticed that the ORM does a lot of requests to load the Model schema from Neo4j. I understand why we need to do that schema but don't you think we could cache this in any way? If yes, I'll be happy to give it a try but I don't know where should I look first.

Very best,
P

[2014-08-08 14:18] mattiasostmar opened #254 "Django complains about __unicode__ = new_method_proxy(unicode) in Python 3.4"
I've started porting neo4django to Python 3.4, but I get stuck at line 251 in functional.py in Django/utils (Note: Django itself, I run Django 1.7 RC 2). Not sure wether the problem can be fixed in neo4django or is located in Django itself. I'm on Mac OS X Mavericks.

[code]

[2014-08-09 03:48] amazure commented on #225
I got this error when I created a ModelForm object with data that violated the unique constraint of a model field. Neo4django tries to get the correct error message for violating that constraint, but the corresponding entry does not exist in properties.Property.default_error_messages (properties.py line 42).

I know this is an old issue and I'm sure you moved on, but someone else might find this u

[2014-08-14 12:35] mhluongo commented on #254
@mattiasostmar the fact that it came from importing settings makes me think the problem is with Django. I believe in Py3k there isn't a `unicode` function, since it's subsumed by `str`?

[2014-08-14 12:41] mhluongo commented on #253
@Pirhoo sorry for the long silence on this. Honestly, I think the best way to speed up this stuff would be to focus more heavily on the scripting, and eschew the use of `neo4j-rest-client`'s pure-REST for basic models- or at least introduce some discipline. For example, it takes a few calls to create a new node, instead of one- partly because we blindly rely on the underlying client, and don't thi

[2014-08-16 23:17] bibby commented on #245
In your Models, Person has 'friends', not 'pets'.

[2014-10-25 12:22] tonjo commented on #225
Thus is really a good "news" (even if dated a couple of months ago).
That project is quite sleeping, but I surely needed this, thanks.

[2014-11-04 19:05] mvillarejo opened #255 "Django 1.7.1 support?"
Hello, are you planning to support Django 1.7.1 anytime soon?
Thanks and congratulations!

[2014-11-04 21:03] mhluongo commented on #255
No active plans, but we'd appreciate any related PRs!

[2015-01-10 15:43] icotoi commented on #255
Any news on this?

[2015-02-18 06:22] casraz commented on #255
searching all over the place for this; any news? Django 1.5 is outdated and not supported anymore. 1.6 or 1.7 support would be very useful. Any news?

[2015-02-18 06:24] mhluongo commented on #255
Unfortunately, I've moved on to other projects and don't have time to
update the library to the latest version of Django. However, PRs are
welcome and I'm happy to advise anyone interested in giving it a shot.

##

Matt Luongo
Software Developer
about.me/luongo

On Wed, Feb 18, 2015 at 1:22 AM, casraz notifications@github.com wrote:

[2015-02-18 06:25] casraz commented on #255
could you recommend a good alternative?

[2015-02-18 06:27] mhluongo commented on #255
There are a [number of options](http://neo4j.com/developer/python/).

[2015-03-18 16:46] 4x4notfound commented on #224
try

[code]

[2015-05-29 07:22] avneesh91 commented on #255
Hi, I'd like to try this out. Could you tell me where to start?

Thanks,
Avneesh

[2015-06-11 18:15] ctippur opened #256 "cannot import name 'transactional' error"
Hello,

I am trying to use neo4django. I am at the getting started stage in the document:

https://neo4django.readthedocs.org/en/latest/getting-started.html

I am getting an error when I run it - cannot import name 'transactional'

Wondering if someone can shed some light on this.
I am using django 1.8.2 and python 3.4.
- Shekar

[2015-06-11 18:29] tonjo commented on #256
I'm afraid Python 3 is not supported, as stated by the author himself in #236.
Also, I think latest Django version supported is 1.5.
Unluckily, this project is not so alive, latest release was 2 years ago.

[2015-06-11 18:34] ctippur commented on #256
Tonjo,

Thanks for responding.
What would be the most recommended package to use?
There are several tools explained here - http://neo4j.com/developer/python/ but not sure what to pick. I picked neo4django because it came close to the schematics of mvc framework.
- Shekar

[2015-06-11 18:46] tonjo commented on #256
Sorry, can't help because I was working on a project that ended,
so I didn't need it anymore.
I think neo4django is the 'coolest' one, for its completeness,
see this article: http://stackoverflow.com/questions/14871775/django-and-neo4j-without-neo4django .
With `Neo4jdb-Python` I think you're forced to do cypher queries (not sure).
I kinda like `neomodel` because it's an object mapper similar to D

[2015-07-14 11:25] kumarrishianand opened #257 "Relationship Properties"
Hi,
I wanted to use neo4django for a project recently. The model definition looks like

class Trend(models.NodeModel):
    name = models.StringProperty()

class Tops(models.NodeModel):
    name = models.StringProperty()
    trends = models.Relationship(Trend,
                                 rel_type='Goes_Well_With',
                                 related_name='tops',

[2015-07-16 07:07] arjinder95 opened #258 "no module named graph_auth.models"

[2015-09-15 21:48] panamantis commented on #224
It worked for me when I included it in my HOST in the settings.py module.
'HOST':'username:password@localhost',

[2015-10-28 07:36] auvipy commented on #255
this is a good alternative. https://github.com/robinedwards/neomodel

but I will try to send PR regarding django 1.7/1.8/1.9+ support for this library

[2016-01-03 19:57] djma opened #259 "django.utils.importlib does not exist anymore"
Stacktrace:

  File "/usr/local/lib/python2.7/site-packages/neo4django/utils.py", line 242, in <module>
    from django.utils.importlib import import_module
ImportError: No module named importlib

[2016-04-19 16:37] scaryclam opened #260 "Python 3.x Comptability"
I can't currently use this library as it is not up to date for python 3. Is there any interest in getting the library cleaned up for python 3?

[2016-06-08 07:12] mvillarejo commented on #255
Thanks auvipy.

this can be closed now as it no longer applies

[2016-06-08 07:12] #255 closed, assigned to nobody

[2016-10-14 18:37] psytron commented on #260
+1

[2016-12-31 20:07] shayneoneill commented on #260
I get the feeling this has been abandoned.

[2017-01-05 17:08] mhluongo commented on #260
I'd be happy to review and merge a PR, but we need someone with time to actively maintain the project going forward.

[2017-01-05 17:09] mhluongo commented on #259
You're *probably* using a version of Django outside what the library supports.

[2017-01-05 17:09] #259 closed, assigned to nobody

[2017-01-05 17:37] scaryclam commented on #260
@shayneoneill not completely :) I'm not going to be able to take on maintaining the project myself (I have a day job that takes up the vast majority of my coding time), but if I can I'll have a look about doing a few small PRs. Is there any resistance to looking at the latest versions of Django/neo4j as well?

[2017-01-05 18:17] mhluongo commented on #260
Not at all, but I'll caution you that the migration to Neo4j 2.0+ was a big blocker for my work here- I'd start with Python 3 (easiest), then Django 1.8+ (more difficult due to changing framework internals). Django 1.8 includes a number of query-builder improvements that will make the switch to Neo4j 2.0+ *much* easier.

[2017-01-05 19:32] scaryclam commented on #260
Thanks for the heads up. I'll take a look and see if I can get the test suite running

[2017-03-02 03:14] dancaron commented on #260
@scaryclam I could perhaps help you out getting this up to Python 3 and Django 1.10.

[2017-05-28 11:58] TobyOoO commented on #260
@scaryclam  I am also interested in integrating neo4django to be compatible with Python3 and Django 1.10.
Is there any way to participate you?

[2017-05-28 12:13] TobyOoO commented on #197
Is this issue merged back to master ?

[2017-05-28 19:20] dancaron commented on #260
@mhluongo Do you have any interest in driving the project? If so, you could add a "project," which is GitHub's Trello clone. Then we could start divvying up the work.

[2017-05-29 18:39] mhluongo commented on #260
I do- happy to advise, review PRs, etc. Started a simple board https://github.com/scholrly/neo4django/projects/1

[2017-05-29 18:41] mhluongo commented on #260
Python 3 should be fairly easy. Upgrading to the latest Django (do we target 1.10 or 1.8+) will be a bit more difficult, but it'll make maintaining the library far simpler in the future, as newer versions of Django have much cleaner ORM internals.

[2017-05-29 18:42] mhluongo commented on #254
Closing this in favor of #260.

[2017-05-29 18:42] #254 closed, assigned to nobody

[2017-05-29 18:43] mhluongo commented on #236
Closing this in favor of #260. Let's make neo4django Py3k compatible!

[2017-05-29 18:43] #236 closed, assigned to nobody

[2017-05-29 18:45] mhluongo commented on #256
Sorry guys, we don't yet support Python 3. Closing this, but keep up with progress on #260

[2017-05-29 18:45] #256 closed, assigned to nobody

[2017-06-23 16:35] ambsw-technology commented on #123
Maybe you could start with the "raw" SQL interface:

https://docs.djangoproject.com/en/1.11/topics/db/sql/

The caller asserts the object type by calling `<type>.objects.raw(...)` and the existing `raw` syntax supports annotations (i.e. fields not present in the model).  If you want to support multiple languages through the same `raw` interface, maybe you could add a `language` kwarg.

The "Execut

[2018-01-02 21:55] pietermarsman commented on #260
Is there any progress with your work to get this running with the latest versions of python and django? There doesn't seem to be a working django OGM (which I find very surprising) and this project seems to be one of the better options.

Maybe I can help developping but there doesn't seem to be a lot of progress last months.

[2018-03-16 22:42] pawamoy opened #261 "Can I use your code"
Hi!

I'm currently building a small Python package to interact with Neo4j. It's more a personal challenge than something else right now, but I'm writing stuff very similar to what you have in this repo. I'm particularly interested in the code in `db/models/cypher.py`. I wonder if I could reuse it (and modify it a bit) with your consent? I see that this package is licensed under GPL-3.0 which is a

[2018-09-18 19:22] pawamoy commented on #261
No, feedback, closing! Thanks anyway!

[2018-09-18 19:22] #261 closed, assigned to nobody

[2019-09-18 07:39] saswat01 commented on #237
When attribute error like this occurs you should make it a global variable in case you are calling from method. If it is not a method that you are calling and maybe a class under which you operate add self.whatever(whatever you want to act upon)

Hope it does all.

[2020-09-05 16:02] mhelal commented on #260
Hi

Any chance this can work now on python3. I am trapped between errors on both requirements:

$  python3 -m pip install -U neo4django
Processing /home/mhelal/.cache/pip/wheels/27/42/17/5569fad4a9f775f9e13ea9cbcbd6c445ee0c9f13532ed61076/neo4django-0.1.8-py3-none-any.whl
Processing /home/mhelal/.cache/pip/wheels/75/51/bd/7c0211666dd7a0a12b61e02cfddefb9b1488a8e9a5e9550561/neo4jrestclient-2.1.1-py2.